<app-section id="insurance">
  <h3>{{ 'insurance.title1' | translate | uppercase }}</h3>
  <h1>{{ 'insurance.title2' | translate | uppercase }}</h1>
  <div class="row row-left">
    <div class="col-md-6 col-sm-12">
      <div>
        <img src="assets/images/insurance/insurance1.png">
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-icon svgIcon="insurance1"></mat-icon>
      <h3>{{ 'insurance.subtitle1' | translate | uppercase }}</h3>
      <p>{{ 'insurance.paragraph1' | translate }}</p>
    </div>
  </div>

  <img class="line" src="assets/images/insurance/line1.png">

  <div class="row row-right column-reverse-mobile">
    <div class="col-md-6 col-sm-12">
      <mat-icon svgIcon="insurance2"></mat-icon>
      <h3>{{ 'insurance.subtitle2' | translate | uppercase }}</h3>
      <p>{{ 'insurance.paragraph2' | translate }}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <div>
        <img src="assets/images/insurance/insurance2.png">
      </div>
    </div>
  </div>

  <img class="line" src="assets/images/insurance/line2.png">

  <div class="row row-left">
    <div class="col-md-6 col-sm-12">
      <div>
        <img src="assets/images/insurance/insurance3.png">
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-icon svgIcon="insurance3"></mat-icon>
      <h3>{{ 'insurance.subtitle3' | translate | uppercase }}</h3>
      <p>{{ 'insurance.paragraph3' | translate }}</p>
    </div>
  </div>

  <img class="line" src="assets/images/insurance/line1.png">

  <div class="row row-right column-reverse-mobile">
    <div class="col-md-6 col-sm-12">
      <mat-icon svgIcon="insurance4"></mat-icon>
      <h3>{{ 'insurance.subtitle4' | translate | uppercase }}</h3>
      <p>{{ 'insurance.paragraph4' | translate }}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <div>
        <img src="assets/images/insurance/insurance4.png">
      </div>
    </div>
  </div>

  <img class="line" src="assets/images/insurance/line2.png">

  <div class="row row-left">
    <div class="col-md-6 col-sm-12">
      <div>
        <img src="assets/images/insurance/insurance5.png">
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-icon svgIcon="insurance5"></mat-icon>
      <h3>{{ 'insurance.subtitle5' | translate | uppercase }}</h3>
      <p>{{ 'insurance.paragraph5' | translate }}</p>
    </div>
  </div>

  <img class="line" src="assets/images/insurance/line1.png">

  <div class="row row-right column-reverse-mobile">
    <div class="col-md-6 col-sm-12">
      <mat-icon svgIcon="insurance6"></mat-icon>
      <h3>{{ 'insurance.subtitle6' | translate | uppercase }}</h3>
      <p>{{ 'insurance.paragraph6' | translate }}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <div>
        <img src="assets/images/insurance/insurance6.png">
      </div>
    </div>
  </div>
</app-section>
