<app-section id="activities">
  <h2>{{ 'activities.title' | translate }}</h2>
  <div class="row row-margin">
    <div class="col-md-4 col-sm-12">
      <h3>{{ 'activities.title1' | translate | uppercase }}</h3>
      <img src="assets/images/activities/activities4.png">
    </div>
    <div class="col-md-4 col-sm-12">
      <h3>{{ 'activities.title2' | translate | uppercase }}</h3>
      <img src="assets/images/activities/activities5.png">
    </div>
    <div class="col-md-4 col-sm-12">
      <h3>{{ 'activities.title3' | translate | uppercase }}</h3>
      <img src="assets/images/activities/activities1.png">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <h3>{{ 'activities.title4' | translate | uppercase }}</h3>
      <img src="assets/images/activities/activities6.png">
    </div>
    <div class="col-md-4 col-sm-12">
      <h3>{{ 'activities.title5' | translate | uppercase }}</h3>
      <img src="assets/images/activities/activities3.png">
    </div>
    <div class="col-md-4 col-sm-12">
      <h3>{{ 'activities.title6' | translate | uppercase }}</h3>
      <img src="assets/images/activities/activities2.png">
    </div>
  </div>
</app-section>
