<app-section id="header">
  <div class="header-text">
    <h1>{{'header.title' | translate}}</h1>
    <h2>{{'header.subtitle' | translate}}</h2>
  </div>
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="filter"></div>
        <img class="d-block w-100" src="../../assets/images/header/header1.jpg">
      </div>
      <div class="carousel-item">
        <div class="filter"></div>
        <img class="d-block w-100" src="../../assets/images/header/header2.jpg">
      </div>
      <div class="carousel-item">
        <div class="filter"></div>
        <img class="d-block w-100" src="../../assets/images/header/header3.jpg">
      </div>
    </div>
  </div>
</app-section>
