<app-section id="header">
    <div class="header-text">
        <div class="header-title">
            <h2 translate="header.title" class="mb-5"></h2>
        </div>
        <div class="header-subtitles">
            <p class="header-subtitle" translate="header.subtitle1"></p>
            <p class="header-subtitle" translate="header.subtitle2"></p>
            <p class="header-subtitle" translate="header.subtitle3"></p>
            <h1 class="header-handwriting" translate="header.handwriting"></h1>
        </div>
    </div>
</app-section>