<app-section id="footer">
  <div class="footer">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="footer-logo">
          <mat-icon class="icon-display" svgIcon="logo"></mat-icon>
        </div>
        <h5> {{'footer.title' | translate }}</h5>
        <p>{{'footer.subtitle' | translate }}</p>
      </div>
      <div class="col-md-3 col-sm-12">
        <h5>{{ 'footer.contact.title' | translate | uppercase }}</h5>
        <div class="footer-icon">
          <mat-icon>phone</mat-icon>
          <p>{{ 'footer.contact.phone' | translate }}</p>
        </div>
        <div class="footer-icon">
          <mat-icon>mail</mat-icon>
          <p>{{ 'footer.contact.email' | translate }}</p>
        </div>
        <p>
          <a class="footer-icon" href="https://www.facebook.com/IImko" target="_blank">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
        </p>
      </div>
      <div class="col-md-3 col-sm-12">
        <h5>{{ 'footer.address.title' | translate | uppercase }}</h5>
        <p [innerHTML]="'footer.address.content' | translate"></p>
        <h5>{{ 'footer.registry.title' | translate | uppercase }}</h5>
        <p>{{ 'footer.registry.text' | translate }}</p>
      </div>
      <div class="col-md-3 col-sm-12">
        <h5>{{ 'footer.invoice.title' | translate | uppercase }}</h5>
        <p class="no-margin">{{ 'footer.title' | translate }}</p>
        <p [innerHTML]="'footer.address.content' | translate"></p>
        <p class="no-margin">{{ 'footer.invoice.ico' | translate }}</p>
        <p class="no-margin">{{ 'footer.invoice.dic' | translate }}</p>
        <p>{{ 'footer.invoice.ic' | translate }}</p>
      </div>
    </div>
    <div class="mt-4">
      <span>{{getYear()}}</span>
      <span translate="footer.text1"></span>
      <mat-icon class="heart red">favorite</mat-icon>
      <span translate="footer.text2"></span>
      <a href="https://fancywebsite.github.io" class="link" target="_blank">
        <span translate="fancyweb"></span>
      </a>
    </div>
    <div>
      <a class="link" (click)="navigateToResouces()">
        <span translate="footer.resources"></span>
      </a>
    </div>
  </div>
</app-section>
