<app-section id="about-us">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 desktop-only">
      <div class="about-us-img">
        <img src="assets/images/home/elements/element1.png" class="about-us-el1">
        <img src="assets/images/home/elements/element3.png" class="about-us-el3">
        <img src="assets/images/home/about-us/about-us.png">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 about-us-text">
      <div class="mobile-only about-us-img">
        <img src="assets/images/home/about-us/about-us.png">
      </div>
      <img src="assets/images/home/elements/element2.png" class="about-us-el2 desktop-only">
      <p>{{ 'about-us.text1' | translate }}</p>
      <p>{{ 'about-us.text2' | translate }}</p>
      <p>{{ 'about-us.text3' | translate }}</p>
      <p>{{ 'about-us.text4' | translate }}</p>
      <p>{{ 'about-us.text5' | translate }}</p>
    </div>
  </div>

</app-section>
