<app-section id="about-us">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 desktop-only">
      <div class="about-us-img">
        <img appParallax [ratio]="0.2" src="assets/images/home/about-us/about-us.png"
          class="about-us-img1 desktop-only">
        <img src="assets/images/home/about-us/about-us.png" class="mobile-only">
        <img src="assets/images/home/elements/element1.png" class="about-us-el1">
        <img src="assets/images/home/elements/element3.png" class="about-us-el3">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 about-us-text desktop-only">
      <img src="assets/images/home/elements/element2.png" class="about-us-el2">
      <p style="width: 83%;">{{ 'about-us.text1' | translate }}</p>
      <p style="width: 75%;">{{ 'about-us.text2' | translate }}</p>
      <p style="width: 50%;">{{ 'about-us.text3' | translate }}</p>
      <p>{{ 'about-us.text4' | translate }}</p>
      <p>{{ 'about-us.text5' | translate }}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mobile-only">
      <div class="about-us-img">
        <img src="assets/images/home/about-us/about-us.png">
      </div>
      <p>{{ 'about-us.text1' | translate }}</p>
      <p>{{ 'about-us.text2' | translate }}</p>
      <p>{{ 'about-us.text3' | translate }}</p>
      <p>{{ 'about-us.text4' | translate }}</p>
      <p>{{ 'about-us.text5' | translate }}</p>
    </div>
  </div>
</app-section>
