<app-section id="why-dobermann">
  <h2>{{ 'why-dobermann.title' | translate }}</h2>
  <div class="row row-margin">
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-dobermann/why-dobermann1.png">
      </div>
      <h3>{{ 'why-dobermann.title1' | translate | uppercase }}</h3>
      <p>{{ 'why-dobermann.paragraph1' | translate }}</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-dobermann/why-dobermann2.png">
      </div>
      <h3>{{ 'why-dobermann.title2' | translate | uppercase }}</h3>
      <p>{{ 'why-dobermann.paragraph2' | translate }}</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-dobermann/why-dobermann3.png">
      </div>
      <h3>{{ 'why-dobermann.title3' | translate | uppercase }}</h3>
      <p>{{ 'why-dobermann.paragraph3' | translate }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-dobermann/why-dobermann4.png">
      </div>
      <h3>{{ 'why-dobermann.title4' | translate | uppercase }}</h3>
      <p>{{ 'why-dobermann.paragraph4' | translate }}</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-dobermann/why-dobermann5.png">
      </div>
      <h3>{{ 'why-dobermann.title5' | translate | uppercase }}</h3>
      <p>{{ 'why-dobermann.paragraph5' | translate }}</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-dobermann/why-dobermann6.png">
      </div>
      <h3>{{ 'why-dobermann.title6' | translate | uppercase }}</h3>
      <p>{{ 'why-dobermann.paragraph6' | translate }}</p>
    </div>
  </div>

</app-section>
