<app-section id="about-us">
  <h2> {{ 'aboutUs.title' | translate | uppercase }}</h2>

  <div class="row">
    <div class="col-lg-6">
      <img src="assets/images/about-us/about-us1.jpg">
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="about-us-desc"> {{ 'aboutUs.desc' | translate }}</div>
      </div>
      <div class="row about-us-wrapper">
        <div class="row">
          <div class="col-lg-2 about-us-icon">
            <mat-icon class="icon-display">done</mat-icon>
          </div>
          <div class="col-lg-10 about-us-text">{{ 'aboutUs.feature1' | translate | uppercase }}</div>
        </div>
        <div class="row">
          <div class="col-lg-2 about-us-icon">
            <mat-icon class="icon-display">done</mat-icon>
          </div>
          <div class="col-lg-10 about-us-text">{{ 'aboutUs.feature2' | translate | uppercase }}</div>
        </div>
        <div class="row">
          <div class="col-lg-2 about-us-icon">
            <mat-icon class="icon-display">done</mat-icon>
          </div>
          <div class="col-lg-10 about-us-text">{{ 'aboutUs.feature3' | translate | uppercase }}</div>
        </div>
      </div>
    </div>
  </div>
</app-section>
<app-section id="about-us-divider">
  <div class="row about-us-divider-row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-4 about-us-divider-icon">
          <mat-icon class="icon-display">calendar_today</mat-icon>
        </div>
        <div class="col-lg-8 about-us-divider-text">
          <div class="flex">
            <animated-digit [digit]="10" [duration]="1000"></animated-digit>
            +
          </div>
          <div>{{ 'aboutUs.divider1' | translate | uppercase }}</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-4 about-us-divider-icon">
          <mat-icon class="icon-display">check_circle_outline</mat-icon>
        </div>
        <div class="col-lg-8 about-us-divider-text">
          <div class="flex">
            <animated-digit [digit]="3000" [duration]="1000"></animated-digit>
            +
          </div>
          <div>{{ 'aboutUs.divider2' | translate | uppercase }}</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-4 about-us-divider-icon">
          <mat-icon class="icon-display">group</mat-icon>
        </div>
        <div class="col-lg-8 about-us-divider-text">
          <div class="flex">
            <animated-digit [digit]="5000" [duration]="1000"></animated-digit>
            +
          </div>
          <div>{{ 'aboutUs.divider3' | translate | uppercase }}</div>
        </div>
      </div>
    </div>
  </div>
</app-section>
