<app-section id="why-us">
  <h2> {{ 'whyUs.title' | translate | uppercase }}</h2>

  <div class="row background-secondary ">
    <div class="col-lg-6">
      <div class="row">
        <div class="why-us-title">{{ 'whyUs.title1' | translate | uppercase }}</div>
      </div>
      <div class="row">
        <div class="why-us-desc">{{ 'whyUs.desc1' | translate }}</div>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="assets/images/why-us/why-us1.png">
    </div>
  </div>

  <div class="row background-primary">
    <div class="col-lg-6">
      <img src="assets/images/why-us/why-us2.png">
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="why-us-title">{{ 'whyUs.title2' | translate | uppercase }}</div>
      </div>
      <div class="row">
        <div class="why-us-desc">{{ 'whyUs.desc2' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="row background-secondary ">
    <div class="col-lg-6">
      <div class="row">
        <div class="why-us-title">{{ 'whyUs.title3' | translate | uppercase }}</div>
      </div>
      <div class="row">
        <div class="why-us-desc">{{ 'whyUs.desc3' | translate }}</div>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="assets/images/why-us/why-us3.png">
    </div>
  </div>

  <div class="row background-primary">
    <div class="col-lg-6">
      <img src="assets/images/why-us/why-us4.png">
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="why-us-title">{{ 'whyUs.title4' | translate | uppercase }}</div>
      </div>
      <div class="row">
        <div class="why-us-desc">{{ 'whyUs.desc4' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="row background-secondary ">
    <div class="col-lg-6">
      <div class="row">
        <div class="why-us-title">{{ 'whyUs.title5' | translate | uppercase }}</div>
      </div>
      <div class="row">
        <div class="why-us-desc">{{ 'whyUs.desc5' | translate }}</div>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="assets/images/why-us/why-us5.png">
    </div>
  </div>
</app-section>
