<nav id="nav" class="navbar navbar-expand-custom navbar-top navbar-fixed navbar-opaque">
  <div class="container">
    <div class="navbar-toggler toggler nav-text-color" type="button" data-toggle="collapse" data-target="#primary-menu"
      aria-controls="primary-menu" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()"
      id="navbar-toggler" [ngClass]="{close: toClose}">
      <span></span>
    </div>
    <div class="collapse navbar-collapse" id="primary-menu">
      <ul class="nav navbar-nav ms-auto nav-no-opacity">
        <app-navigation-item title="home"></app-navigation-item>
        <app-navigation-item title="brunch"></app-navigation-item>
        <app-navigation-item title="lunch"></app-navigation-item>
        <app-navigation-item title="dinner"></app-navigation-item>
        <app-navigation-item title="drinks"></app-navigation-item>
        <app-navigation-item title="about-us"></app-navigation-item>
      </ul>
    </div>
  </div>
</nav>
