<nav id="nav" class="navbar navbar-expand-custom navbar-top navbar-fixed navbar-opaque">
  <div class="container">
    <div class="navbar-toggler toggler nav-text-color" type="button" data-toggle="collapse" data-target="#primary-menu"
      aria-controls="primary-menu" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()"
      id="navbar-toggler" [ngClass]="{close: toClose}">
      <span></span>
    </div>
    <a class="navbar-brand">
      <div class="navbar-brand-name">
        <h3>{{'title1' | translate | uppercase}}</h3>
        <h3 class="no-bottom-margin">{{'title2' | translate | uppercase}}</h3>
      </div>
    </a>
    <div class="collapse navbar-collapse" id="primary-menu">
      <ul class="nav navbar-nav ms-auto nav-no-opacity">
        <app-navigation-item title="insurance"></app-navigation-item>
        <app-navigation-item title="partners"></app-navigation-item>
        <app-navigation-item title="wanna-be-insured"></app-navigation-item>
        <app-navigation-item title="contact"></app-navigation-item>
        <app-navigation-item title="about-me"></app-navigation-item>
      </ul>
    </div>
  </div>
</nav>
