<app-section id="zdroje">
    <h2>{{ 'resources.title' | translate | uppercase }}</h2>
    <div class="flex resources-list">
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/header/header1.jpg)'"></div>
            <a href="https://www.yit.sk/en/flats-for-sale/bratislava/ruzinov/zwirn" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/about-us/about-us.png)'"></div>
            <a href="https://www.freepik.com/free-photo/man-electrical-technician-working-switchboard-with-fuses_33379007.htm#query=circuit%20breaker&position=25&from_view=keyword" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-0.jpg)'"></div>
            <a href="http://www.sportovaskolatn.sk/skola/historia-skoly.html?page_id=3124" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-1.jpg)'"></div>
            <a href="https://www.traveloslovakia.com/places-to-visit/dunajska-streda-town-river-island/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-2.jpg)'"></div>
            <a href="https://www.globproduction.sk/referencie/bytovy-dom-devinka-pod-lesom-devinska-nova-ves-bratislava/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-3.jpg)'"></div>
            <a href="https://www.gravitas.sk/priemyselna-hala-s-administrativnou-budovou-pezinok-720205" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-4.jpg)'"></div>
            <a href="https://cadin.eu/en/portfolio/tesco-petrzalka-bratislava/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-5.jpg)'"></div>
            <a href="https://dekmetal.cz/reference/fasadni-system-dekmetal/lidl-trencin-sk" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-6.jpg)'"></div>
            <a href="https://www.yimba.sk/pari" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-7.jpg)'"></div>
            <a href="https://otykinvest.sk/projekty/najomne-byty-capajevova-ul-bratislava-petrzalka/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-8.jpg)'"></div>
            <a href="https://www.stavbaweb.cz/slnenice-juzne-mesto-19888/clanek.html" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-9.jpg)'"></div>
            <a href="https://kosicednes.sk/zaujimavosti/historia/obratena-pyramida-dedicstvom-socializmu-aj-narodnej-kultury/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-10.jpg)'"></div>
            <a href="https://aquarionovezamky.sk/o-shopping-centre/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-11.jpg)'"></div>
            <a href="https://www.klimakslovakia.com/referencie/oac-ptacek/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-12.jpg)'"></div>
            <a href="https://bratislavskykraj.sk/plastami-a-plechovkami-za-krajsi-ruzinov/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-13.jpg)'"></div>
            <a href="https://dekmetal.cz/reference/fasadni-system-dekmetal/lidl-podunajske-biskupice-bratislava-sk" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-14.jpg)'"></div>
            <a href="https://www.volkswagen-newsroom.com/en/images/detail/volkswagen-slovakia-bratislava-plant-37002" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-15.jpg)'"></div>
            <a href="https://a-solutions.sk/referencia/ikea-components-2/_igp7009/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-16.jpg)'"></div>
            <a href="https://www.vilykoliba.sk/" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
        <div class="resource">
            <div class="image" [style.background-image]="'url(/assets/images/projects/project-17.jpg)'"></div>
            <a href="https://www.wikidata.org/wiki/Q13537355" target="_blank">
                <span>{{'resources.text' | translate}}</span>
            </a>
        </div>
    </div>
</app-section>