<app-section id="our-team">
  <h2> {{ 'ourTeam.our-team' | translate }}</h2>
  <div class="wrapper">
    <div class="boss">
      <img class="boss-img" src="../../assets/images/our-team/our-team1.jpg">
      <div class="overlay boss-desc">
        <div class="person-name">{{'ourTeam.bossName' | translate}}</div>
        <div class="person-quote">{{'ourTeam.bossQuote' | translate}}</div>
        <a class="read-more"
          (click)="openDialog({ imgSrc: '../../assets/images/our-team/our-team1.jpg', name: 'ourTeam.bossName', desc: 'ourTeam.bossDesc' })">
          {{'ourTeam.readMore' | translate }}</a>
      </div>
    </div>
    <div class="employee employee1">
      <img class="employee-img" src="../../assets/images/our-team/our-team2.jpg">
      <div class="overlay employee1-desc">
        <div class="person-name">{{'ourTeam.employee1Name' | translate}}</div>
        <div class="person-quote">{{'ourTeam.employee1Quote' | translate}}</div>
        <a class="read-more"
          (click)="openDialog({ imgSrc: '../../assets/images/our-team/our-team2.jpg', name: 'ourTeam.employee1Name', desc: 'ourTeam.employee1Desc' })">
          {{'ourTeam.readMore' | translate }}</a>
      </div>
    </div>
    <div class="employee employee2">
      <img class="employee-img" src="../../assets/images/our-team/our-team3.jpg">
      <div class="overlay employee2-desc">
        <div class="person-name">{{'ourTeam.employee2Name' | translate}}</div>
        <div class="person-quote">{{'ourTeam.employee2Quote' | translate}}</div>
        <a class="read-more"
          (click)="openDialog({ imgSrc: '../../assets/images/our-team/our-team3.jpg', name: 'ourTeam.employee2Name', desc: 'ourTeam.employee2Desc' })">
          {{'ourTeam.readMore' | translate }}</a>
      </div>
    </div>
    <div class="employee employee3">
      <img class="employee-bordered-img" src="../../assets/images/our-team/our-team4.jpg">
      <div class="overlay employee3-desc">
        <div class="person-name">{{'ourTeam.employee3Name' | translate}}</div>
        <div class="person-quote">{{'ourTeam.employee3Quote' | translate}}</div>
        <a class="read-more"
          (click)="openDialog({ imgSrc: '../../assets/images/our-team/our-team4.jpg', name: 'ourTeam.employee3Name', desc: 'ourTeam.employee3Desc' })">
          {{'ourTeam.readMore' | translate }}</a>
      </div>
    </div>
    <div class="employee employee4">
      <img class="employee-bordered-img" src="../../assets/images/our-team/our-team5.jpg">
      <div class="overlay employee4-desc">
        <div class="person-name">{{'ourTeam.employee4Name' | translate}}</div>
        <div class="person-quote">{{'ourTeam.employee4Quote' | translate}}</div>
        <a class="read-more"
          (click)="openDialog({ imgSrc: '../../assets/images/our-team/our-team5.jpg', name: 'ourTeam.employee4Name', desc: 'ourTeam.employee4Desc' })">
          {{'ourTeam.readMore' | translate }}</a>
      </div>
    </div>
    <div class="employee employee5">
      <img class="employee-bordered-img" src="../../assets/images/our-team/our-team6.jpg">
      <div class="overlay employee5-desc">
        <div class="person-name">{{'ourTeam.employee5Name' | translate}}</div>
        <div class="person-quote">{{'ourTeam.employee5Quote' | translate}}</div>
        <a class="read-more"
          (click)="openDialog({ imgSrc: '../../assets/images/our-team/our-team6.jpg', name: 'ourTeam.employee5Name', desc: 'ourTeam.employee5Desc' })">
          {{'ourTeam.readMore' | translate }}</a>
      </div>
    </div>
  </div>
</app-section>
<div class="custom-shape-divider-bottom-1670528199">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
  </svg>
</div>
