<app-section id="our-team">
  <div class="wrapper">
    <div class="background-div">
      <h1 class="heading">Our team</h1>
    </div>
    <div class="boss">
      <img class="boss-img">
      <div class="overlay boss-desc">
        <div class="text">Boss</div>
      </div>
    </div>
    <div class="employee employee1">
      <img class="employee-img">
      <div class="overlay employee1-desc">
        <div class="text">Employee 1</div>
      </div>
    </div>
    <div class="employee employee2">
      <img class="employee-img">
      <div class="overlay employee2-desc">
        <div class="text">Employee 2</div>
      </div>
    </div>
    <div class="employee employee3">
      <img class="employee-bordered-img">
      <div class="overlay employee3-desc">
        <div class="text">Employee 3</div>
      </div>
    </div>
    <div class="employee employee4">
      <img class="employee-bordered-img">
      <div class="overlay employee4-desc">
        <div class="text">Employee 4</div>
      </div>
    </div>
    <div class="employee employee5">
      <img class="employee-bordered-img">
      <div class="overlay employee5-desc">
        <div class="text">Employee 5</div>
      </div>
    </div>
  </div>
</app-section>
