<app-section id="header">
  <div class="row">
    <div class="col-lg-6 col-md-12 header-text">
      <h1>{{ 'header.title1' | translate | uppercase }}</h1>
      <h1>{{ 'header.title2' | translate | uppercase }}</h1>
      <span class="flex">
        <h1>{{ 'header.title3' | translate | uppercase }}&nbsp;</h1>
        <h1 class="highlight">{{ 'header.title4' | translate | uppercase }}</h1>
      </span>
      <div class="divider"></div>
      <p>{{ 'header.text' | translate }}</p>
      <button mat-raised-button (click)="scroll()">
        <span>{{ 'header.button' | translate | uppercase }}</span>
      </button>
    </div>
    <div class="col-lg-6 col-md-12 header-img">
      <img src="assets/images/header/header1.png">
    </div>
  </div>
</app-section>