<app-section id="contact">
  <h2 translate="contact.title"></h2>

  <div class="row pb-4 pt-4">
    <div class="col-lg-4 col-md-12 info-box">
      <span class="material-symbols-outlined green">business</span>
      <p class="no-margin" translate="contact.address.text"></p>
    </div>
    <div class="col-lg-4 col-md-12 info-box">
      <span class="material-symbols-outlined red">stay_current_portrait</span>
      <p class="no-margin" translate="contact.phone.text"></p>
    </div>
    <div class="col-lg-4 col-md-12 info-box">
      <span class="material-symbols-outlined yellow">mail</span>
      <p class="no-margin" translate="contact.email.text"></p>
    </div>
  </div>

  <div>
    <div class="contact-box mb-4">
      <h3 translate="contact.form.title" class="secondary"></h3>
      <form [formGroup]="formGroup" class="form" (ngSubmit)="submit()">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label translate="contact.form.name"></mat-label>
          <input matInput name="Name" formControlName="name">
          <mat-error *ngIf="hasRequiredError('name')" translate="contact.form.required"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label translate="contact.form.email"></mat-label>
          <input matInput name="Email" formControlName="email"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
          <mat-error *ngIf="hasRequiredError('email')" translate="contact.form.required"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label translate="contact.form.message"></mat-label>
          <textarea matInput name="Message" rows="3" formControlName="message"></textarea>
          <mat-error *ngIf="hasRequiredError('message')" translate="contact.form.required"></mat-error>
        </mat-form-field>
        <div class="submit-btn mt-4">
          <button mat-flat-button class="button" type="submit">
            <span translate="contact.form.submitBtn"></span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-map></app-map>
</app-section>
<div class="custom-shape-divider-bottom-1670528829">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
  </svg>
</div>
