<app-section id="contact">
  <h2>{{ 'contact.title' | translate | uppercase }}</h2>

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="contact-left">
        <div class="row">
          <div class="col-md-4 col-sm-4 contact-icon">
            <mat-icon>phone</mat-icon>
          </div>
          <div class="col-md-8 col-sm-8 contact-text">
            <div class="title">
              <span>{{ 'topContact.call-us' | translate | uppercase }}</span>
            </div>
            <div>
              <span>{{ 'topContact.tel' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 contact-icon">
            <mat-icon>mail</mat-icon>
          </div>
          <div class="col-md-8 col-sm-8 contact-text">
            <div class="title">
              <span>{{ 'topContact.write-us' | translate | uppercase }}</span>
            </div>
            <div>
              <span>{{ 'topContact.email' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 contact-icon">
            <mat-icon svgIcon="facebook"></mat-icon>
          </div>
          <div class="col-md-8 col-sm-8 contact-text">
            <span>
              <a href="https://www.facebook.com/IImko" class="link" target="_blank">
                {{ 'topContact.facebook' | translate | uppercase }}
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="contact-right">
        <h3>{{ 'contact.form.title' | translate | uppercase }}</h3>
        <form [formGroup]="formGroup" #formDirective="ngForm" class="form" (ngSubmit)="submit(formDirective)">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label translate="contact.form.name"></mat-label>
            <input matInput name="Name" formControlName="name">
            <mat-error *ngIf="hasRequiredError('name')" translate="contact.form.required"></mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label translate="contact.form.email"></mat-label>
            <input matInput name="Email" formControlName="email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
            <mat-error *ngIf="hasRequiredError('email')" translate="contact.form.required"></mat-error>
            <mat-error *ngIf="hasPatternError('email')" translate="contact.form.pattern"></mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label translate="contact.form.phone"></mat-label>
            <input matInput name="Phone" formControlName="phone">
            <mat-error *ngIf="hasRequiredError('phone')" translate="contact.form.required"></mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label translate="contact.form.message"></mat-label>
            <textarea matInput name="Message" rows="3" formControlName="message"></textarea>
            <mat-error *ngIf="hasRequiredError('message')" translate="contact.form.required"></mat-error>
          </mat-form-field>
          <div class="submit-btn mt-4">
            <button mat-flat-button class="button inverse-colors" type="submit">
              <span>{{'contact.form.submitBtn' | translate | uppercase}}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-section>
