<div class="drinks page">
  <app-section id="drinks-text">
    <div class="row">
      <div class="col-sm-12 drinks-text">
        <p class="drinks-time">{{ 'drinks.time' | translate }}</p>
        <p>{{ 'drinks.text1' | translate }}</p>
        <p>{{ 'drinks.dash' | translate }}</p>
        <p>{{ 'drinks.text2' | translate }}</p>
        <p>{{ 'drinks.dash' | translate }}</p>
        <p>{{ 'drinks.text3' | translate }}</p>
      </div>
    </div>
  </app-section>
  <app-section id="drinks-pictures">
    <div class="row">
      <div class="col-sm-12">
        <img src="assets/images/drinks/drinks2.png" class="drinks-img2">
        <img src="assets/images/drinks/drinks3.png" class="drinks-img3">
        <img src="assets/images/drinks/drinks5.png" class="drinks-img5">
        <img src="assets/images/drinks/drinks4.png" class="drinks-img4">
        <img src="assets/images/drinks/drinks1.png" class="drinks-img1">
      </div>
    </div>
  </app-section>
</div>
