<div class="drinks page">
  <img src="assets/images/drinks/element1.png" class="drinks-el1 desktop-only">
  <img src="assets/images/drinks/element2.png" class="drinks-el2 desktop-only">
  <app-section id="drinks-text">
    <div class="row">
      <div class="col-sm-12 drinks-text">
        <p class="time without-padding">{{ 'drinks.time1' | translate }}</p>
        <p class="time">{{ 'drinks.time2' | translate }}</p>
        <p>{{ 'drinks.text1' | translate }}</p>
        <p>{{ 'drinks.dash' | translate }}</p>
        <p>{{ 'drinks.text2' | translate }}</p>
        <p>{{ 'drinks.dash' | translate }}</p>
        <p>{{ 'drinks.text3' | translate }}</p>
      </div>
      <div class="col-sm-12 drinks-btn">
        <button mat-flat-button class="drinks-menu-title" (click)="scroll()">
          <p>{{ 'drinks.menu' | translate }}</p>
        </button>
      </div>
    </div>
  </app-section>
  <app-section id="drinks-pictures">
    <div class="row">
      <div class="col-sm-12">
        <img src="assets/images/drinks/element3.png" class="drinks-el3 desktop-only">
        <img src="assets/images/drinks/element4.png" class="drinks-el4 desktop-only">
        <img appParallax [ratio]="0.3" src="assets/images/drinks/drinks2.png" class="drinks-img2 desktop-only">
        <img appParallax [ratio]="0.5" src="assets/images/drinks/drinks5.png" class="drinks-img5 desktop-only">
        <img appParallax [ratio]="0.4" src="assets/images/drinks/drinks4.png" class="drinks-img4 desktop-only">
        <img appParallax [ratio]="0.6" src="assets/images/drinks/drinks3.png" class="drinks-img3 desktop-only">
        <img appParallax [ratio]="0.7" src="assets/images/drinks/drinks1.png" class="drinks-img1 desktop-only">
        <img src="assets/images/drinks/drinks2.png" class="drinks-img2 mobile-only">
        <img src="assets/images/drinks/drinks5.png" class="drinks-img5 mobile-only">
        <img src="assets/images/drinks/drinks4.png" class="drinks-img4 mobile-only">
        <img src="assets/images/drinks/drinks3.png" class="drinks-img3 mobile-only">
        <img src="assets/images/drinks/drinks1.png" class="drinks-img1 mobile-only">
      </div>
    </div>
  </app-section>
  <app-section id="drinks-menu">
    <div class="row">
      <div appParallax [ratio]="0.1" class="col-sm-12 desktop-only">
        <img src="assets/images/menu/napoje.png" class="drinks-menu">
      </div>
      <div class="col-sm-12 mobile-only">
        <img src="assets/images/menu/napoje.png" class="drinks-menu">
      </div>
    </div>
  </app-section>
  <app-footer [white]="true"></app-footer>
</div>
