<div class="divider-box">
    <img src="assets/images/divider.png" class="divider">
</div>
<app-section id="services">
    <app-service class="service" service="flowers" picture="flowers" delay="delay-1"></app-service>
    <app-service class="service" service="bouquet" picture="bouquet" delay="delay-2"></app-service>
    <app-service class="service" service="decorations" picture="decorations" delay="delay-3"></app-service>
    <app-service class="service" service="items" picture="items" delay="delay-4"></app-service>
    <app-service class="service" service="hygene" picture="hygene" delay="delay-5"></app-service>
    <app-service class="service" service="orders" picture="order" delay="delay-6" [ref]="'contact'"></app-service>
</app-section>
