<app-section id="sub-page">
  <h2> {{ 'heat-pump.title1' | translate | uppercase }}</h2>
  <ul class="item-desc">
    <li>{{ 'heat-pump.section1.desc1' | translate }}</li>
    <li>{{ 'heat-pump.section1.desc2' | translate }}</li>
  </ul>

  <h2> {{ 'heat-pump.title2' | translate | uppercase }}</h2>
  <ul class="item-desc">
    <li>{{ 'heat-pump.section2.desc1' | translate }}</li>
    <li>{{ 'heat-pump.section2.desc2' | translate }}</li>
    <li>{{ 'heat-pump.section2.desc3' | translate }}</li>
  </ul>

  <h2> {{ 'heat-pump.title3' | translate | uppercase }}</h2>
  <ul class="item-desc">
    <li>{{ 'heat-pump.section3.desc1' | translate }}</li>
    <li>{{ 'heat-pump.section3.desc2' | translate }}</li>
  </ul>
</app-section>
