<app-section id="why-doberman">
  <h2>{{ 'why-doberman.title' | translate }}</h2>
  <div class="row row-margin">
    <div class="col-md-4 col-sm-12">
      <div class="icon-background column-reverse-mobile">
        <img src="assets/images/why-doberman/why-doberman1.png">
      </div>
      <h3>{{ 'why-doberman.title1' | translate | uppercase }}</h3>
      <p>{{ 'why-doberman.paragraph1' | translate }}</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-doberman/why-doberman2.png">
      </div>
      <h3>{{ 'why-doberman.title2' | translate | uppercase }}</h3>
      <p>{{ 'why-doberman.paragraph2' | translate }}</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-doberman/why-doberman3.png">
      </div>
      <h3>{{ 'why-doberman.title3' | translate | uppercase }}</h3>
      <p>{{ 'why-doberman.paragraph3' | translate }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-doberman/why-doberman4.png">
      </div>
      <h3>{{ 'why-doberman.title4' | translate | uppercase }}</h3>
      <p>{{ 'why-doberman.paragraph4' | translate }}</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-doberman/why-doberman5.png">
      </div>
      <h3>{{ 'why-doberman.title5' | translate | uppercase }}</h3>
      <p>{{ 'why-doberman.paragraph5' | translate }}</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="icon-background">
        <img src="assets/images/why-doberman/why-doberman6.png">
      </div>
      <h3>{{ 'why-doberman.title6' | translate | uppercase }}</h3>
      <p>{{ 'why-doberman.paragraph6' | translate }}</p>
    </div>
  </div>
</app-section>
