@import "../variables.scss";

.about-us {
  font-size: 5em;
  padding-bottom: 30px;
  letter-spacing: 5px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 3px var(--primary);
  font-family: var(--font-family-title);
}

.about-us-title {
  text-align: justify;
  font-family: var(--font-family-title);
  font-size: 2em;
  padding-bottom: 15px;

  &.green {
    color: #00d0b2;
  }

  &.blue {
    color: #430093;
  }

  &.red {
    color: #ff5c75;
  }

  &.yellow {
    color: #ffc85f;
  }

  &::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #ffc764;
    margin-top: 15px;
  }
}

.about-us-text {
  text-align: left;
  font-size: 16px;
  font-family: var(--font-family-default);
}

.about-us-img {
  img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    object-fit: cover;
  }
}

.row {
  padding-bottom: 20px;
}

@media only screen and (max-width: $mobile-resolution) {
  .about-us-title {
    text-align: center;
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }

  .about-us-text {
    text-align: center;
    padding-bottom: 40px;
  }
}
