@import "../variables.scss";

.col-md-6, .col-md-4 {
  padding: 0;

  & > img {
    width: 100%;
  }
}

.about-us-desc {
  margin: 0;
}

#about-us .content {
  align-items: center;
}

.about-us-wrapper {
  flex-direction: column;
}

.about-us-icon {
  align-self: center;
  text-align: end;
  padding: 0;
}

.about-us-image {
  display: flex;
  justify-content: flex-end;
  padding-right: 1%;
}

.about-us-text {
  padding-left: 1%;
}

.about-us-image img {
  width: 90%;
}

.about-us-text {
  align-self: center;
  margin: 0;
  font-size: 18px;
  font-family: var(--font-family-title);
}

@media only screen and (max-width: $tablet-resolution) {
  #about-us .content {
    align-items: flex-start;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  .about-us-image img {
    width: 100%;
    margin-bottom: 6%;
  }

  .about-us-desc {
    margin-bottom: 4%;
  }
}
