@import "../variables.scss";

.about-us-title {
  &::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #ffc764;
    margin-top: 15px;
  }
}

.custom-shape-divider-bottom-1670527356 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670527356 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 56px;
}

.custom-shape-divider-bottom-1670527356 .shape-fill {
  fill: #FFFFFF;
}

.about-us-text {
  text-align: left;
  font-size: 16px;
  font-family: var(--font-family-default);
}

.about-us-img {
  img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    object-fit: cover;
  }
}

.about-us-row {
  padding-bottom: 20px;
}

@media only screen and (max-width: $mobile-resolution) {
  .about-us-row {
    padding-bottom: 0px;
  }

  .about-us-img {
    padding-bottom: 15px;
  }
  .about-us-title {
    text-align: center;
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }

  .about-us-text {
    text-align: center;
    padding-bottom: 40px;
  }
}
