@import "../variables.scss";

#about-dobermann {
  h2 {
    text-align: left;
  }

  h3 {
    text-align: left !important;
    font-weight: 600;
  }
}

.margin-auto {
  margin: auto;
}

.margin-top-30 {
  margin-top: 30px;
}

@media only screen and (max-width: $tablet-resolution) {
}

@media only screen and (max-width: $mobile-resolution) {
}
