@import "../variables.scss";

#activities {
  h2 {
    text-align: left !important;
  }

  h3 {
    text-align: center !important;
  }

  p {
    margin: 0px;
  }

  .row-margin {
    margin-bottom: 15px !important;
  }
}

@media only screen and (max-width: $tablet-resolution) {
}

@media only screen and (max-width: $mobile-resolution) {
}
