#contact {
  .section {
    background-color: white;
  }

  h2 {
    margin-bottom: 1.5em;
  }

  h3 {
    font-weight: 600;
    font-size: 30px;
  }
}

.button {
  background-color: var(--text);
  width: 100%;

  span {
    color: var(--white);
  }
}

.button:hover {
  background-color: var(--primary-text);
  span {
    color: var(--white);
  }
}

.contact-icon {
  align-self: center;
  text-align: end;
  padding: 0 15px 0 0;
}

.contact-text {
  align-self: center;
  text-align: left;
}

.contact-right {
  display: flex;
  flex-direction: column;
  height: 50%;

  & .row {
    height: 25%;
  }
}

.success-dialog {
  mat-dialog-container {
    width: 35% !important;
    height: 350px !important;
    min-width: 350px !important;
    top: 20% !important;
    left: 32.5% !important;
    position: absolute !important;
    border-radius: 25px !important;
  }

  .mat-dialog-actions {
    min-height: unset;
  }
}

.map-wrap {
  height: 100%;
  padding-left: 10%;
}

.map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  filter: grayscale(1);
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;

  .material-symbols-outlined {
    font-size: 50px;
    margin-right: 2%;
  }
}

.success-dialog-content {
  padding: 3%;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100%;
  place-content: center space-evenly;

  .mat-icon {
    width: 100px;
    height: 100px;
    fill: var(--background-primary-1);
  }
}

.form {
  flex-direction: column;
  display: flex;
}

.mat-form-field-label {
  font-family: var(--font-family-title);
  color: var(--primary-text);
  font-size: 1.25em !important;
}

.mat-form-field.mat-focused .mat-form-field-label,
.mat-focused .mat-form-field-required-marker,
.mat-form-field-appearance-standard .mat-form-field-underline,
.mat-input-element {
  color: var(--secondary-text);
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field-ripple {
  background-color: var(--primary-text);
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label,
.mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent,
.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker,
.mat-form-field-required-marker,
.mat-error {
  color: red !important;
}

.mat-form-field.mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
  caret-color: red !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: red;
}

.mat-form-field-label-wrapper {
  text-align: left;
}

@media only screen and (max-width: $mobile-resolution) {
  .contact-right {
    height: unset;
    padding: 6% 0;

    .row {
      padding-bottom: 6%;
    }

    .row:last-child {
      padding-bottom: 0;
    }
  }

  .map {
    height: 400px;
  }

  .info-box {
    justify-content: flex-start;
    padding-bottom: 10px;
  }

  .info-box:last-child {
    padding-bottom: 0;
  }

  .contact-box {
    position: relative;
    margin: 0px;
    padding: 10%;
  }

  .button {
    margin-bottom: 1rem;
  }

  .success-dialog {
    mat-dialog-container {
      width: calc(100% - 20px) !important;
      left: 0% !important;
      margin: 10px;
    }
  }

  .map-wrap {
    padding-left: 0;
  }
}
