#contact {
    .section {
        background-color: var(--secondary);
    }
}

.contact-box {
    background-color: var(--primary);
    position: absolute;
    z-index: 1;
    margin-left: 100px;
    padding: 2%;
    min-width: 30%;
    margin-top: -70px;
}

.map {
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 70px;
    margin-bottom: 70px;
    filter: grayscale(1);
}

.button {
    border-radius: 10px !important;
    border: 1px solid var(--secondary) !important;
    background-color: var(--primary);
    span {
        color: var(--secondary);
    }
}

.button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--primary) !important;
    span {
        color: var(--primary);
    }
}

.success-dialog {
    mat-dialog-container {
        width: 35% !important;
        height: 350px !important;
        min-width: 350px !important;
        top: 20% !important;
        left: 32.5% !important;
        position: absolute !important;
        border-radius: 25px !important;
    }

    .mat-dialog-actions {
        min-height: unset;
    }
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;

    .material-symbols-outlined {
        font-size: 50px;
        margin-right: 2%;
    }
}

.success-dialog-content {
    padding: 3%;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100%;
    place-content: center space-evenly;

    .mat-icon {
        width: 100px;
        height: 100px;
        fill: var(--background-primary-1);
    }
}

.form {
    flex-direction: column;
    display: flex;
}

.mat-form-field-label {
    font-family: var(--font-family-title);
    color: var(--secondary);
    font-size: 1.25em !important;
}

.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field.mat-form-field-invalid .mat-form-field-label,
.mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent,
.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker,
.mat-focused .mat-form-field-required-marker,
.mat-input-element,
.mat-form-field-required-marker {
    color: var(--secondary) !important;
}

.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
    caret-color: var(--secondary) !important;
}



.mat-form-field-appearance-standard .mat-form-field-underline,
.mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: var(--secondary);
}

.mat-error {
    color: var(--secondary);
}

.mat-form-field-label-wrapper {
    text-align: left;
}

@media only screen and (max-width: $mobile-resolution) {
    .map {
        height: 300px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 50px;
    }

    .button {
        margin-bottom: 1rem;
    }

    .success-dialog {
        mat-dialog-container {
            width: calc(100% - 20px) !important;
            left: 0% !important;
            margin: 10px;
        }
    }
}
