.contact {
  background: linear-gradient(180deg, white 0%, white 100%);
}

.success-dialog {
  mat-dialog-container {
    width: 35% !important;
    height: 350px !important;
    min-width: 350px !important;
    top: 20% !important;
    left: 32.5% !important;
    position: absolute !important;
    border-radius: 25px !important;
  }

  .mat-dialog-actions {
    min-height: unset;
  }
}

#contact {
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  mat-icon {
    display: flex !important;
    width: 50px !important;
    height: 50px !important;
    margin: auto auto 16px auto;
  }

  p {
    text-align: center !important;
    margin: 0;
  }
}

.success-dialog-content {
  padding: 3%;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100%;
  place-content: center space-evenly;

  .mat-icon {
    width: 100px;
    height: 100px;
    fill: var(--primary);
  }

  p {
    color: var(--text);
  }
}

.form {
  flex-direction: column;
  display: flex;
}

.contact-form {
  margin: auto !important;

  p {
    text-align: center;
  }

  .contact-title {
    margin-bottom: 25px;
  }
}

.submit-btn {
  background: linear-gradient(150deg, #28E895, transparent);
}

.mat-form-field-label {
  font-family: var(--font-family-text) !important;
  color: var(--text);
  font-size: 1.25em !important;
}

.mat-form-field.mat-focused .mat-form-field-label,
.mat-focused .mat-form-field-required-marker,
.mat-form-field-appearance-standard .mat-form-field-underline,
.mat-input-element {
  color: var(--primary);
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field-ripple {
  background-color: var(--primary);
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label,
.mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent,
.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker,
.mat-form-field-required-marker,
.mat-error {
  color: #ef4b4b !important;
}

.mat-form-field.mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
  caret-color: #ef4b4b !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: #ef4b4b;
}

.mat-form-field-label-wrapper {
  text-align: left;
}

.hours {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.section .contact-form {
  .mat-flat-button {
    margin-top: 0px;
  }
}

@media only screen and (max-width: $tablet-resolution) {
  #contactForm .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  .contact-form .contact-title {
    margin-bottom: 25px;
  }

  .hours {
    padding-top: 25px;
  }

  .contact-form {
    width: 100%;
  }

  .button {
    margin-bottom: 1rem;
  }

  .success-dialog {
    mat-dialog-container {
      width: calc(100% - 20px) !important;
      left: 0% !important;
      margin: 10px;
    }
  }

  #contact {
    mat-icon {
      margin: auto;
    }

    p:nth-last-child(1) {
      text-align: center !important;
      margin: 0 0 16px 0;
    }
  }
}

@media only screen and (max-width: $small-mobile-resolution) {
}
