@import '../variables.scss';

#footer .section {
    min-height: unset;
    padding-bottom: 1%;
    background-color: var(--secondary);
}

.footer {
    p {
        text-align: left;
        margin-bottom: 10px;
    }
}

.footer-logo-text h2 {
    font-size: 1.5em;
    text-align: left;
    -webkit-text-stroke: 1px var(--primary);
}

.footer-logo {
    height: 60px;
    margin-right: 15px;
}

.heart.mat-icon {
    height: 15px;
    font-size: 15px;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

.social.mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

@media only screen and (max-width: $mobile-resolution) {
    #footer .section {
        background-position: top;
        padding-left: 0;
        padding-right: 0;
    }
}
