@import "../variables.scss";

#footer .section {
  min-height: unset;
  padding-bottom: 1%;
  background-color: var(--text);
}

#footer {

  h2,
  h3,
  p,
  span {
    color: var(--secondary);
    text-align: center;
  }

  .row {
    margin-bottom: 2%;
  }

  .icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 50px;

    .mat-icon {
      color: var(--primary);
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
  }
}

.heart.mat-icon {
  height: 15px;
  font-size: 15px;
  color: #ef4b4b;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--text);
  cursor: pointer;
}

@media only screen and (max-width: $tablet-resolution) {}

@media only screen and (max-width: $mobile-resolution) {

  #footer .row {
    margin-bottom: 1rem;
  }
}