@import '../variables.scss';

#footer .section {
    min-height: unset;
    padding-bottom: 1%;
    background-color: var(--primary);
}

#footer span {
  color: var(--primary);
}

.footer {
    p {
        text-align: left;
        margin-bottom: 10px;
        color: var(--primary);
    }

    h5 {
      text-align: left;
      font-weight: bold;
      padding-top: 15px;
    }
}

.footer .navbar-brand {
    padding-left: 0;
}

.navbar-brand h2 {
    font-size: 1.5em;
    text-align: left;

    &::after{
      content: unset;
    }
}

.heart.mat-icon {
    height: 15px;
    font-size: 15px;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: var(--text);
    cursor: pointer;
}

.social.mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

@media only screen and (max-width: $mobile-resolution) {
    #footer .section {
        background-position: top;
    }
}
