@import "../variables.scss";

#header .section {
  display: flex;
  min-height: 70vh;
  padding-top: 2%;
}

.header-title {
  text-align: left;

  & > span {
    font-family: var(--font-family-title);
    font-size: 96pt;
  }
}

.header-subtitle {
  text-align: left;
  padding-right: 30%;

  & > span {
    font-size: 25pt;
  }
}

.header-button {
  text-align: left;
  padding-top: 50px;

  & > span {
    font-family: var(--font-family-title);
    font-size: 15pt;
  }
}

.straight-dash {
  font-family: var(--font-family-default) !important;
}

@media only screen and (max-width: $tablet-resolution) {
  #header .section {
    margin-top: 0;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  .header-title {
    & > span {
      font-size: 64pt;
    }
  }

  .header-subtitle {  
    & > span {
      font-size: 18pt;
    }
  }

  .header-button {
    padding-top: 40px;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  #header .section {
    margin-top: 0;
    padding-top: 150px;
    padding-left: 0;
    padding-right: 0;
  }

  .d-none {
    display: block !important;
  }

  .header-title {
    & > span {
      font-size: 48pt;
    }
  }

  .header-subtitle {  
    padding-right: 15%;

    & > span {
      font-size: 14pt;
    }
  }

  .header-button {
    padding-top: 25px;
  }
}
