@import "../variables.scss";

.header-text {
  text-align: left;
  margin-top: 30px;

  & > h1 {
    margin: 30px 30px 0 30px
  }

  & > span {
    margin: 0 30px
  }
}

.paw {
  position: absolute;
  top: 25%;
  right: 20%;
}

@media only screen and (max-width: 1150px) {
  .paw {
    top: 35%
  }
}

@media only screen and (max-width: $tablet-resolution) {
  .paw {
    top: 45%
  }
}

@media only screen and (max-width: $mobile-resolution) {
  #header .section {
    padding-top: 50px;
  }

  .paw {
    top: 55%;
  }

}

@media only screen and (max-width: $small-mobile-resolution) {
  #header .section {
    padding-top: 50px;
  }

  .paw {
    display: none;
  }

}
