@import "../variables.scss";

.home {
  background: linear-gradient(180deg, #fff 0%, #fff 50%, #22e791 70%, #000 100%);
  min-height: 100vh;
}

.section {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

#header .section {
  border-top: 0;
}

#breakfast p, #lunch-menu p, #alacarte p {
  font-size: 30px;
  margin-bottom: 0;
  font-style: italic;
}

#alacarte p {
  color: var(--default);
}

.page {
  padding-top: 50px;
}

.about-us-img {
  text-align: right;
}

.about-us-el1 {
  position: absolute;
  top: -30%;
  left: 0;
  height: 300px;
}

.about-us-el2 {
  height: 100px;
  margin-left: auto;
}

.about-us-el3 {
  position: absolute;
  bottom: -10%;
  left: 20%;
  height: 200px;
}

.breafast-img1 {
  position: absolute;
  top: 10%;
  left: 0;
  height: 400px;
}

.breafast-img2 {
  position: absolute;
  bottom: 0;
  left: 30%;
  height: 200px;
}

.breakfast-img3 {
  padding-bottom: 30px;
  height: 300px;
}

.breafast-el1 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 150px;
}

.lunch-menu-text, .alacarte-text {
  padding-top: 30px;
  position: relative;
}

.lunch-menu-img1 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 250px;
}

.lunch-menu-img2 {
  position: absolute;
  height: 450px;
  left: 10%;
  top: 0;
}

.lunch-menu-img3 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 300px;
}

.lunch-menu-el1 {
  position: absolute;
  height: 300px;
  left: 40%;
  top: -20%;
}

.lunch-menu-el2 {
  position: absolute;
  height: 100px;
  right: 0;
  top: 0;
}

.alacarte-text {
  width: 70%;
}

.alacarte-img1 {
  position: absolute;
  height: 450px;
  left: 10%;
  top: 0;
}

.alacarte-img2 {
  position: absolute;
  right: 20%;
  bottom: 10%;
  height: 250px;
}

.alacarte-img3 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 250px;
}

.alacarte-img4 {
  position: absolute;
  right: 0;
  bottom: 10%;
  height: 250px;
}

.alacarte-el1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
}

.about-us-text {
  align-self: baseline;
  text-align: right;

  p:nth-child(-n+5) {
    font-size: 24px;
  }

  p:nth-child(6) {
    font-style: italic;
  }

  p {
    text-align: left;
  }
}

@media only screen and (max-width: $tablet-resolution) {

}

@media only screen and (max-width: $mobile-resolution) {
  .lunch-menu-text, .alacarte-text {
    padding-top: 0px;
    width: 100%;
  }

  .alacarte-img1 {
    height: 300px;
    left: 0;
    top: 0;
    right: unset;
  }

  .alacarte-img2 {
    right: 0;
    bottom: 0;
    left: unset;
    top: unset;
    padding-bottom: 20px;
  }

  .alacarte-img3 {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .alacarte-col2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .alacarte-img4 {
    position: relative;
    bottom: unset;
  }

  .breakfast-col1, .lunch-menu-col2, .alacarte-col1 {
    min-height: 400px;
    overflow: hidden;
  }

  .breafast-img1 {
    top: 0;
    height: 300px;
  }

  .breafast-img2 {
    right: 0;
    bottom: 0;
    top: unset;
    left: unset;
  }

  .breakfast-img3 {
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    height: auto;
  }

  .breakfast-col2 {
    display: flex;
    padding-top: 20px;
    flex-direction: column-reverse;
  }

  .lunch-menu-col1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .lunch-menu-img1 {
    position: relative;
    padding-bottom: 20px;
  }

  .lunch-menu-img2 {
    padding-top: 20px;
    left: 0;
    top: 0;
    height: 300px;
  }

  .lunch-menu-img3 {
    height: 250px;
  }

  .about-us-text {
    p {
      text-align: center;
      margin-bottom: 0;
      font-size: 20px;
    }
  }

  .about-us-img {
    text-align: center;
    margin-bottom: 20px;
  }
}
