.lunch {
    background: linear-gradient(180deg, #28E895 0%, #188355 100%);
    min-height: 100vh;
    text-align: center;
}

.lunch-el1 {
    position: absolute;
    left: 0;
    top: 30%;
    height: 500px;
}

.lunch-el2 {
    position: absolute;
    right: 0;
    top: -10%;
    height: 200px;
}

.lunch-btn {
    margin-top: auto;
}

.lunch-el3 {
    position: absolute;
    left: 0;
    top: -10%;
    height: 100px;
}

.lunch-text {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        width: 35%;
        margin-bottom: 0;
        text-align: center;
    }
}

.time {
    font-size: 40px !important;
    padding-bottom: 75px;
}

.lunch-menu-title {
    background: linear-gradient(150deg, white, transparent);
}

#lunch-pictures .row {
    min-height: 600px;
}

.lunch-img1 {
    position: absolute;
    height: 450px;
    top: -10%;
    left: 0;
}

.lunch-img2 {
    position: absolute;
    height: 350px;
    top: 20%;
    left: 20%;
}

.lunch-img3 {
    position: absolute;
    height: 350px;
    top: 40%;
    left: 40%;
}

.lunch-img4 {
    position: absolute;
    height: 400px;
    top: 20%;
    left: 60%;
}

@media only screen and (max-width: $mobile-resolution) {

    .time {
        font-size: 32px !important;
        padding-bottom: 25px;
    }

    .lunch-img1 {
        height: 250px;
        top: 0%;
    }
    
    .lunch-img2 {
        height: 200px;
        top: 20%;
        left: 40%;
    }
    
    .lunch-img3 {
        height: 250px;
        left: unset;
        left: 50%;
        right: 0;
    }
    
    .lunch-img4 {
        height: 250px;
        top: unset;
        left: 10%;
        bottom: 0;
    }

    .lunch-text {
      p {
          width: 100%;
      }
  }

}
