.navbar {
  padding: 1% 0;
  font-family: var(--font-family-default);
  z-index: 1;
  background-color: var(--primary);
  width: 50%;
  left: 50%;
  top: -25px;
  border-radius: 45px 0 0 45px;
  box-shadow: var(--box-shadow);

  .container {
    max-width: 100%;
    justify-content: center;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: var(--font-family-default);
}

.nav-item {
  cursor: pointer;
}

.navbar-brand-img {
  height: 50px;
}

.show > .btn-secondary.dropdown-toggle {
  color: var(--secondary) !important;
}

.navbar-brand-name {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  letter-spacing: 4px;
  line-height: 18px;
  -webkit-text-fill-color: primary;
  -webkit-text-stroke: 1px var(--primary);
  span {
    color: var(--secondary) !important;
    padding: 2px 0;
  }
}

.lang-dropdown {
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 0.5em;
}

.btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.dropdown-menu {
  min-width: 0 !important;
  background-color: var(--secondary);
  border: 1px solid var(--primary) !important;
  padding: 12px 0 !important;
}

.dropdown-menu:before {
  content: "";
  display: block;
  font-size: 0px;
  position: absolute;
  right: calc(50% - 25px);
  top: -7px;
  transform: rotate(-45deg);
  z-index: 50;
  border-color: transparent;
  border-style: solid;
  width: 15px;
  height: 15px;
  border-right: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  background-color: var(--secondary);
  border-top-right-radius: 1px;
  box-shadow: 0.75em -0.75em rgb(0, 0, 0, 0.25);
}

.dropdown-item {
  cursor: pointer;
  span {
    color: var(--primary);
  }
}

.dropdown-item:hover {
  background-color: var(--primary);
  span {
    color: var(--secondary);
  }
}

.margin-left-10 {
  margin-left: 10px;
}

.navbar-collapse {
  flex-grow: 0;
  width: 100%;
}

.navbar-toggler {
  position: relative;
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 56px;
  font-size: 0;
  box-shadow: none;
  border: none;

  &:focus {
    outline: none;
  }

  span {
    top: 49%;
    display: block;
    position: absolute;
    left: 15px;
    right: 60px;
    height: 3px;
    background: var(--secondary);
    border-radius: 0.5rem;

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--secondary);
      border-radius: 0.5rem;
      content: "";
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }
}
.toggler {
  background: none;

  span {
    transition: background 0s 0.3s;

    &::before,
    &::after {
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }

    &::before {
      transition-property: top, transform;
    }

    &::after {
      transition-property: bottom, transform;
    }
  }

  &.close {
    background: none;

    span {
      background: none;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }

      &::before,
      &::after {
        transition-delay: 0s, 0.3s;
      }
    }
  }
}

.nav-text-color {
  color: var(--secondary);
  font-size: 1em;
  font-family: var(--font-family-title);
}

.nav-item:hover {
  .nav-text-color {
    text-decoration: underline;
  }
}

.nav-item-border {
  border-bottom: none;
}

.navbar-expand-custom .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 1350px) {
  .navbar {
    width: 70%;
    left: 30%;
  }
}

@media only screen and (max-width: $tablet-resolution) {
  .navbar-brand-img {
    height: 35px;
  }

  .navbar-expand-custom .nav-link {
    padding-right: 1rem;
    padding-left: 0rem;
  }

  .navbar {
    width: 75%;
    left: 25%;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  .navbar-expand-custom {
    background-color: var(--primary);

    .nav-link {
      padding: 0.5rem 1rem;
    }
  }

  .lang-dropdown {
    padding-left: 15px;
  }

  .navbar {
    padding: 1% 0;
    background: var(--primary);
    position: fixed;
    z-index: 17;
    width: 100vw;
    border-bottom: 1px solid var(--primary);
    top: 0;
    border-radius: 0;
    left: 0;

    .container {
      align-items: center;
      justify-content: end;
    }
  }

  .nav-text-color {
    color: var(--secondary) !important;
  }

  .nav-item-border {
    border-bottom: 1px solid var(--secondary);
  }

  .dropdown-menu.show {
    display: flex;
  }

  .dropdown-menu:before {
    content: "";
    left: 39px;
    top: 35px;
    right: unset;
  }
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

@media (min-width: $mobile-resolution) {
  .navbar-expand-custom > .container {
    padding: 0;
  }
}

@media (min-width: $mobile-resolution) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
    position: absolute;
    left: -50px;
  }

  app-navigation-item:last-child .nav-link {
    padding-right: 0;
  }
  .navbar-expand-custom > .container {
    flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .show > .btn-secondary.dropdown-toggle {
    color: var(--primary) !important;
  }
}
