@import "../variables.scss";

.offering-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.offering-item {
  background: var(--primary);
  aspect-ratio: 1.25 / 1;
  width: 30%;

  div:first-child {
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

    & > mat-icon {
      transform: scale(3);
      color: var(--primary-text);
    }
  }

  div:nth-child(2) {
    height: 25%;
    justify-content: flex-start;
    flex-direction: column;

    & > h3 {
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      height: 20%;
      margin-top: 10px;
    }

    & > p {
      color: var(--primary-text);
      text-align: center;
    }
  }

  div:last-child {
    justify-content: center;

    & button {
      width: 50%;
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: $tablet-resolution) {
  .offering-item div:first-child, .offering-item div:nth-child(2) {
    height: unset;
  }

  .offering-item div:first-child > mat-icon {
    height: 64px;
  }

  .offering-item div:last-child button {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .offering-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
    margin-bottom: 10px;
  }


  .offering-item div:nth-child(2) > h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: $mobile-resolution) { 
  .offering-item {
    width: 100%;
    aspect-ratio: unset;
  }

  .offering-container .offering-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6%;
  }

}