@import "../variables.scss";

#our-team {
  .section {
    background-color: var(--secondary);
  }

  .wrapper {
    height: 1000px;
    position: relative;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: var(--secondary);
}

.text {
  color: var(--primary);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.boss {
  position: absolute;
  left: 35%;
  top: 25%;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  box-shadow: 1px 2px 20px 15px var(--primary-trans);
  z-index: 1;
  background-color: white;

  &:hover .boss-desc {
    opacity: 0.75;
  }
}

.boss-img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.employee {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 1px 2px 20px 15px var(--primary-trans);
  background-color: white;
}

.employee-img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.employee-bordered-img {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

.employee1 {
  left: 60%;
  top: 60%;
  z-index: 2;
  box-shadow: 1px 2px 20px 15px var(--secondary-trans);
  &:hover .employee1-desc {
    opacity: 0.75;
  }
}

.employee2 {
  left: 60%;
  top: 10%;
  z-index: 0;
  box-shadow: 1px 2px 20px 15px var(--secondary-trans);
  &:hover .employee2-desc {
    opacity: 0.75;
  }
}

.employee3 {
  left: 10%;
  top: 10%;
  z-index: 0;
  box-shadow: initial;
  border: 10px solid var(--primary);
  &:hover .employee3-desc {
    opacity: 0.75;
  }

  &:hover .overlay {
    background-color: var(--primary);

    .text {
      color: var(--secondary);
    }
  }
}

.employee4 {
  left: 10%;
  top: 60%;
  z-index: 0;
  box-shadow: initial;
  border: 10px solid var(--primary);
  &:hover .employee4-desc {
    opacity: 0.75;
  }

  &:hover .overlay {
    background-color: var(--primary);

    .text {
      color: var(--secondary);
    }
  }
}

.background-div {
  background-color: var(--primary);
  height: 900px;
  width: 50%;
  position: absolute;
  top: 5%;
  right: 5%;
}


@media only screen and (max-width: $mobile-resolution) {

}
