@import "../variables.scss";

#our-puppies {
  h2 {
    text-align: left !important;
  }

  h3 {
    text-align: left !important;
  }

  p {
    line-height: 30px;
  }

  .row-margin {
    margin-bottom: 15px !important;
  }
}

.top-margin {
  margin-top: 15px;
}

@media only screen and (max-width: $tablet-resolution) {
}

@media only screen and (max-width: $mobile-resolution) {
  .top-margin {
    margin-top: 0;
  }
}
