@import "../variables.scss";

#our-team {
  .section {
    background-color: var(--secondary);
  }

  .wrapper {
    height: 1000px;
    position: relative;
  }
}

.boss {
  position: absolute;
  left: 35%;
  top: 25%;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  box-shadow: 1px 2px 20px 15px var(--primary-trans);
  z-index: 1;
  background-color: white;

  &:hover .boss-desc {
    opacity: 0.75;
  }

  .person-name {
    font-size: 3rem;
  }

  .person-quote {
    font-size: 2rem;
  }

  .read-more {
    padding: 10px 30px;
  }
}

.boss-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.employee {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 1px 2px 20px 15px var(--primary-trans);
  background-color: white;
}

.employee-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.employee-bordered-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.employee1 {
  left: 60%;
  top: 60%;
  z-index: 2;
  box-shadow: 1px 2px 20px 15px var(--secondary-trans);
  &:hover .employee1-desc {
    opacity: 0.75;
  }
}

.employee2 {
  left: 60%;
  top: 10%;
  z-index: 0;
  box-shadow: 1px 2px 20px 15px var(--secondary-trans);
  &:hover {
    z-index: 1;

    .employee2-desc {
      opacity: 0.75;
    }
  }
}

.employee3 {
  left: 15%;
  top: 5%;
  z-index: 0;
  box-shadow: initial;
  border: 10px solid var(--primary);
  &:hover .employee3-desc {
    opacity: 0.75;
  }

  &:hover .overlay {
    background-color: var(--primary);

    .person-name,
    .person-quote {
      color: var(--secondary);
    }

    .read-more {
      color: var(--primary) !important;
      background-color: var(--secondary);
    }
  }
}

.employee4 {
  left: 15%;
  top: 65%;
  z-index: 0;
  box-shadow: initial;
  border: 10px solid var(--primary);
  &:hover .employee4-desc {
    opacity: 0.75;
  }

  &:hover .overlay {
    background-color: var(--primary);

    .person-name,
    .person-quote {
      color: var(--secondary);
    }

    .read-more {
      color: var(--primary) !important;
      background-color: var(--secondary);
    }
  }
}

.background-div {
  background-color: var(--primary);
  height: 900px;
  width: 50%;
  position: absolute;
  top: 5%;
  right: 5%;
}

.heading {
  text-align: left;
  font-size: 2em;
  margin-left: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: var(--secondary);
}

.person-name {
  color: var(--primary);
  font-size: 25px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.person-quote {
  color: var(--primary);
  font-size: 1rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.read-more {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
  padding: 7px 15px;
  color: var(--secondary) !important;
  border-radius: 10px;
  background-color: var(--primary);
  cursor: pointer;

  &:hover {
    text-decoration: underline !important;
  }
}

.dialog-img {
  max-width: 500px;
  max-height: 500px;
}

.dialog-title {
  margin: auto;
  text-align: center;
  color: var(--primary);
  font-family: var(--font-family-title);
  font-weight: bold;
  font-size: 80px;
}

.dialog-text {
  margin: 50px;
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 20px;
}

.close {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  background-color: var(--secondary);
  border-radius: 30px;

  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: var(--primary);
    top: 7px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.text-container {
  background: var(--secondary);
}

.mobile-close {
  display: none;
}

.desktop-close {
  display: block;
}

.flex-direction {
  flex-direction: row;
}

@media only screen and (max-width: $tablet-resolution) {
  .background-div {
    height: 1750px;
    width: 45%;
    top: 0;
    right: 5%;
  }

  .boss {
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    top: 5%;

    .person-name {
      font-size: 30px;
    }

    .person-quote {
      font-size: 20px;
    }

    .read-more {
      padding: 5px 10px;
    }
  }

  .boss-img {
    width: 300px;
    height: 300px;
  }

  .employee {
    width: 250px;
    height: 250px;
  }

  .employee-img {
    width: 250px;
    height: 250px;
  }

  .employee-bordered-img {
    width: 250px;
    height: 250px;
  }

  .employee1 {
    left: 0;
    right: 0;
    margin: auto;
    top: 25%;
    box-shadow: 1px 2px 20px 15px var(--primary-trans);
    z-index: 1;
  }

  .employee2 {
    left: 0;
    right: 0;
    margin: auto;
    top: 40%;
    box-shadow: 1px 2px 20px 15px var(--primary-trans);
  }

  .employee3 {
    left: 0;
    right: 0;
    margin: auto;
    top: 55%;
    box-shadow: 1px 2px 20px 15px var(--primary-trans);
    border: 0;

    &:hover .overlay {
      background-color: var(--secondary);

      .person-name,
      .person-quote {
        color: var(--primary);
      }

      .read-more {
        color: var(--secondary) !important;
        background-color: var(--primary);
      }
    }
  }

  .employee4 {
    left: 0;
    right: 0;
    margin: auto;
    top: 70%;
    box-shadow: 1px 2px 20px 15px var(--primary-trans);
    border: 0;

    &:hover .overlay {
      background-color: var(--secondary);

      .person-name,
      .person-quote {
        color: var(--primary);
      }

      .read-more {
        color: var(--secondary) !important;
        background-color: var(--primary);
      }
    }
  }

  #our-team {
    .wrapper {
      height: 1750px;
      position: relative;
    }
  }

  .read-more {
    padding: 5px 10px;
  }

  .dialog-img {
    max-width: 400px;
    max-height: 400px;
  }

  .dialog-title {
    margin: auto;
    text-align: center;
    color: var(--primary);
    font-family: var(--font-family-title);
    font-weight: bold;
    font-size: 40px;
  }

  .dialog-text {
    margin: 50px;
    text-align: center;
    font-family: var(--font-family-title);
    font-size: 10px;
  }

  .flex-direction {
    flex-direction: column;
  }

  .mobile-close {
    display: block;
  }

  .desktop-close {
    display: none;
  }
}
