@import "../variables.scss";

#partners {
  h3 {
    text-align: left !important;
  }

  h1 {
    width: 90%;
    margin-bottom: 32px;
  }

  .section {
    background: linear-gradient(white 0%, var(--background) 10%, white 100%);
  }
}

.ref {
  text-decoration: underline !important;
  cursor: pointer;
  color: var(--primary) !important;
}

.ref:hover {
  text-decoration: none !important;
  color: var(--terciary) !important;
}

.logo-row div {
  align-self: center;
}

.partners-text {
  margin-bottom: 16px !important;
}

@media only screen and (max-width: $tablet-resolution) {
}

@media only screen and (max-width: $mobile-resolution) {
}
