@import "../variables.scss";

#partners {
  h3 {
    text-align: left !important;
  }

  h1 {
    width: 90%;
  }

  .section {
    background: linear-gradient(white 0%, var(--background) 30%, var(--background) 70%, white 100%);
  }
}

.ref, .ref span {
  text-decoration: none !important;
  cursor: pointer;
  color: var(--primary) !important;
}

.ref:hover, .ref span:hover {
  color: var(--terciary) !important;
}

.logo-row div {
  align-self: center;
}

.partners-text {
  margin-bottom: 16px !important;
}

@media only screen and (max-width: $tablet-resolution) {
}

@media only screen and (max-width: $mobile-resolution) {
  .logo-row {
    flex-direction: row;
    flex-wrap: nowrap;
    img {
      padding: 5px;
    }
  }
}
