@import '../variables.scss';

#projects .section {
  background-color: var(--primary);
}

.project-image {
  background-position: center !important;
  background-size: cover !important;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  filter: brightness(0.7);
  margin-left: auto;
}

.project {
  padding-left: 0%;
  padding-right: 2%;
  padding-bottom: 4%;
}

.project-desc {
  z-index: 2;
}

.project-desc-box {
  background-color: var(--secondary);
  border-radius: 20px;
  margin-right: -40px;
  padding: 8%;
  margin-bottom: 40px;

  p {
    color: var(--primary);
    font-size: 13px;
    text-align: center;
    margin-bottom: 0;
  }
}

.right {
  padding-top: 10%;

  .project-image {
    margin-right: auto;
  }

  .project {
    padding-left: 2%;
    padding-right: 0%;
  }

  .project-desc-box { 
    margin-right: 0px;
    margin-left: -40px;
  }
}


@media only screen and (max-width: $tablet-resolution) {
  .project-desc-box, .right .project-desc-box { 
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 6%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .project-desc-box p {
    font-size: 16px;
  }

  .project, .right {
    padding: 0;
  }

  .project img {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

}

@media only screen and (max-width: $mobile-resolution) {}