.resource {
    display: flex;
    flex-direction: column;
    .image {
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        filter: brightness(0.7);
    }

    a:hover {
        color: var(--secondary);
    }
}

.resources-list {
    justify-content: space-between;
    row-gap: 20px;
}