#sub-page .section {
  padding-bottom: 0;
}

.item-desc {
  margin-bottom: 4rem;

  & > li {
    text-align: left;
    font-size: 22px;
    color: var(--secondary-text);
  }

  & > li::marker {
    content: "- ";
    font-size: 1.2em;
  }
}
