@import "../variables.scss";

.top-contact-row {
  background-color: var(--background);
  top: 0;

  & .row {
    height: 100%;
  }

  .col-lg-3 {
    padding: 0;
  }
}

.facebook-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--primary);
  height: 5rem;
  margin-bottom: 0px;
  border-radius: 0 0 45px 45px;
  top: -25%;
  position: relative;
  padding-top: 2.75%;
  box-shadow: var(--box-shadow);

  span {
    font-family: var(--font-family-title);
  }

  & > .row {
    div:nth-child(1) {
      text-align: right;
      padding-right: 5px;
    }

    div:nth-child(2) {
      text-align: left;
      padding-left: 5px;
      padding-top: 5px;
    }
  }
}

.main-logo {
  transform: scale(11);
  left: 120px;
  position: relative;
  top: 15px;
}

.contact-container {
  & > {
    div:nth-child(1) {
      text-align: right;
      padding-top: 15px;
      padding-right: 15px;

      .mat-icon {
        transform: scale(1.25);
      }
    }

    div:nth-child(2) {
      text-align: left;
      padding-left: 5px;
      padding-top: 5px;
    }
  }

  .title span {
    font-family: var(--font-family-title);
    font-size: 18px;
  }
}

.icon-display {
  color: var(--secondary);
}

.link {
  color: var(--secondary);

  &:hover {
    color: var(--secondary);
    text-decoration-color: var(--secondary);
  }
}

.top-contact-row .mat-mini-fab {
  background-color: var(--primary) !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 0 !important;

  .mat-button-wrapper {
    color: var(--primary);
    padding: 0 !important;
  }

  .mat-icon {
    height: 30px;
    width: 30px;
  }
}

.top-contact-row .mat-mini-fab:hover {
  background-color: var(--primary);
  .mat-button-wrapper {
    color: var(--primary);
  }
}

.top-contact-row .container {
  & > .row:nth-child(2) {
    padding: 15px 15px 60px 15px;
  }
}

@media only screen and (max-width: $tablet-resolution) {
  .wrap {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .facebook-container {
    width: 60%;
    top: -40%;
    padding-top: 4.75%;

    span {
      font-size: 9pt;
    }
  }

  .top-contact-row .mat-mini-fab {
    width: 20px !important;
    height: 20px !important;
    padding-top: 4px;

    .mat-icon {
      height: 20px;
      width: 20px;
    }
  }

  .mat-icon {
    transform: scale(1.25);
  }

  .main-logo {
    transform: scale(10) !important;
    left: 85px;
    position: relative;
    top: 45px;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  .top-contact-item {
    border-left: 0px;
  }

  .top-contact-row {
    border-bottom: 1px solid var(--primary);
  }
}
