@import "../variables.scss";

.top-contact-row {
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--primary);
  padding: 10px 0;

  & .row {
    height: 100%;
  }

  div:nth-child(1) {
    border-left: 0;
  }

  div:nth-child(n) {
    border-right: 0;
  }

  .col-lg-3 {
    padding: 0;
  }
}

.top-contact-icon {
  align-self: center;
  text-align: end;
  padding: 0 15px 0 0;
}

.top-contact-text {
  align-self: center;
  span, p {
    color: var(--text);
  }
}

.top-contact-item {
  border-left: 2px solid var(--secondary);
  border-right: 2px solid var(--secondary);
}

.icon-display {
  transform: scale(1.5);
  margin-top: 5px;
}

.goBack.mat-mini-fab {
  position: fixed;
  background-color: var(--secondary);
  top: auto;
  right: auto;
  left: 30px;
  bottom: 50%;
  box-shadow: none;
  z-index: 10;

  .mat-icon {
    margin-bottom: 4px;
    margin-left: 9px;
  }

  .mat-button-wrapper {
    color: var(--primary);
  }
}

.goBack.mat-mini-fab:hover {
  background-color: var(--text);
  .mat-button-wrapper {
    color: var(--primary);
  }
}

@media only screen and (max-width: $tablet-resolution) {
  .wrap {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .tablet-phone-number.top-contact-item {
    border-left: 0px;
  }

  .tablet-phone-number .col-md-4 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  .top-contact-item {
    border-left: 0px;
  }

  .top-contact-row {
    border-bottom: 1px solid var(--primary);
  }
}