@import "../variables.scss";

#why-dobermann {
  h2 {
    text-align: left !important;
  }

  h3 {
    text-align: center !important;
  }

  p {
    margin: 0px;
  }

  .row-margin {
    margin-bottom: 45px !important;
  }
}

.icon-background {
  background-color: var(--secondary);
  border-radius: 90px;
  width: 70px;
  margin: 20px auto;
  height: 70px;
  padding: 7px 0 0 0;
  box-shadow: var(--box-shadow);
}

@media only screen and (max-width: $tablet-resolution) {
}

@media only screen and (max-width: $mobile-resolution) {
  .row-margin {
    margin-bottom: 0px !important;
  }
}
