<app-section id="info">
    <div class="row">
        <div class="col-lg-4 col-md-12 info-box">
            <span class="material-symbols-outlined">location_on</span>
            <h3 translate="contact.visit"></h3>
            <p class="no-margin" translate="contact.address"></p>
        </div>
        <div class="col-lg-4 col-md-12 info-box">
            <span class="material-symbols-outlined">call</span>
            <h3 translate="contact.call"></h3>
            <p class="no-margin" translate="contact.phone"></p>
        </div>
        <div class="col-lg-4 col-md-12">
            <span class="material-symbols-outlined">mail</span>
            <h3 translate="contact.write"></h3>
            <p class="no-margin" translate="contact.email"></p>
        </div>
    </div>
</app-section>
