<app-section id="partners">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <h3>{{ 'partners.title1' | translate | uppercase }}</h3>
      <h1>{{ 'partners.title2' | translate | uppercase }}</h1>
      <p>{{ 'partners.text1' | translate }}</p>
      <p class="partners-text">{{ 'partners.text2' | translate }} <a [href]="'/assets/partners/partners.pdf'" target="_blank" class="ref">{{
          'partners.text3' | translate }}</a></p>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row logo-row">
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners1.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners2.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners3.png" alt="">
        </div>
      </div>
      <div class="row logo-row">
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners4.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners5.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners6.png" alt="">
        </div>
      </div>
      <div class="row logo-row">
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners7.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners8.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners9.png" alt="">
        </div>
      </div>
      <div class="row logo-row">
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners10.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners11.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-4">
          <img src="assets/images/partners/partners12.png" alt="">
        </div>
      </div>
    </div>
  </div>
</app-section>
