<div class="background">
  <app-navigation [currentLang]=currentLang></app-navigation>
  <app-header></app-header>
</div>
<app-about-us></app-about-us>
<app-certificate></app-certificate>
<app-photogallery></app-photogallery>
<app-about-dobermans></app-about-dobermans>
<app-why-doberman></app-why-doberman>
<app-activities></app-activities>
<app-photogallery [secondPhotogallery]="true"></app-photogallery>
<app-our-dog></app-our-dog>
<app-our-puppies></app-our-puppies>
<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>
