<div class="background">
  <app-navigation></app-navigation>
  <app-header></app-header>
</div>
<app-insurance></app-insurance>
<app-partners></app-partners>
<!-- <app-about-us></app-about-us>
<app-certificate></app-certificate>
<app-photogallery></app-photogallery>
<app-activities></app-activities>
<app-photogallery [secondPhotogallery]="true"></app-photogallery>
<app-our-dog></app-our-dog>
<app-our-puppies></app-our-puppies> 
<app-footer></app-footer>-->
<app-scroll-to-top></app-scroll-to-top>
