<app-section id="footer" [ngClass]="{'footer-white': white}">
  <div class="footer">
    <p class="footer-title">{{ 'footer.title1' | translate }}</p>
    <div class="footer-row">
      <a href="https://www.instagram.com/trikvety/" target="_blank">
        <div class="social-icon icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
          </svg>
        </div>
      </a>
      <a href="https://www.facebook.com/trikvety" target="_blank">
        <div class="social-icon icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5Z" />
          </svg>
        </div>
      </a>
    </div>

    <p class="footer-title">{{ 'footer.title2' | translate }}</p>

    <div class="footer-row space">
      <div class="footer-col">
        <div class="icon">
          <mat-icon>call</mat-icon>
        </div>
        <p>{{ 'footer.phone' | translate }}</p>
      </div>
      <div class="footer-col">
        <div class="icon">
          <mat-icon>alternate_email</mat-icon>
        </div>
        <p>{{ 'footer.email' | translate }}</p>
      </div>
    </div>

    <p class="footer-title">{{ 'footer.title3' | translate }}</p>

    <div class="footer-row space footer-row-mobile">
      <div class="footer-col">
        <div class="footer-map">
          <app-map></app-map>
        </div>
        <p>{{ 'footer.address1' | translate }}</p>
        <p>{{ 'footer.address2' | translate }}</p>
      </div>
      <div class="footer-col">
        <p>{{ 'footer.monday' | translate }}</p>
        <p>{{ 'footer.tuesday' | translate }}</p>
        <p>{{ 'footer.wednesday' | translate }}</p>
        <p>{{ 'footer.thursday' | translate }}</p>
        <p>{{ 'footer.friday' | translate }}</p>
        <p>{{ 'footer.saturday' | translate }}</p>
        <p>{{ 'footer.sunday' | translate }}</p>
      </div>
    </div>

  </div>
</app-section>