<app-section id="footer">
  <div class="footer">
    <div>
      <span>{{getYear()}}</span>
      <span translate="footer.text2"></span>
      <mat-icon class="heart red">favorite</mat-icon>
      <span translate="footer.text3"></span>
      <a href="https://fancywebsite.github.io" class="ref" target="_blank">
        <span translate="fancyweb"></span>
      </a>
    </div>
    <div>
      <a href="http://www.freepik.com" class="ref" target="_blank">
        <span translate="footer.text4"></span>
      </a>
    </div>
  </div>
</app-section>
