<app-section id="alacarte">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 alacarte-col1">
            <div>
                <img src="assets/images/home/alacarte/alacarte1.png" class="alacarte-img1">
                <img src="assets/images/home/alacarte/alacarte2.png" class="alacarte-img2">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 alacarte-col2">
            <div>
                <img src="assets/images/home/elements/element7.png" class="alacarte-el1 desktop-only">
                <img src="assets/images/home/alacarte/alacarte3.png" class="alacarte-img3">
                <img src="assets/images/home/alacarte/alacarte4.png" class="alacarte-img4">
            </div>
            <div>
                <p class="alacarte-text">{{ 'alacarte.text1' | translate }}</p>
            </div>
        </div>
    </div>

</app-section>