<app-section id="alacarte">
  <div class="row">
    <div class="col-sm-12">
      <img src="assets/images/home/alacarte/alacarte3.png" class="alacarte-img3 mobile-only">
    </div>
    <div class="col-sm-12">
      <div appParallax [ratio]="0.05" class="desktop-only">
        <p style="width: 80%;" class="alacarte-text">{{ 'alacarte.text1' | translate }}</p>
      </div>
      <div class="mobile-only">
        <p class="alacarte-text">{{ 'alacarte.text1' | translate }}</p>
      </div>
    </div>
    <div class="col-sm-12 alacarte-images">
      <img appParallax [ratio]="0.1" src="assets/images/home/alacarte/alacarte1.png" class="alacarte-img1 desktop-only">
      <img appParallax [ratio]="0.08" src="assets/images/home/alacarte/alacarte2.png"
        class="alacarte-img2 desktop-only">
      <img src="assets/images/home/alacarte/alacarte1.png" class="alacarte-img1 mobile-only">
      <img src="assets/images/home/alacarte/alacarte2.png" class="alacarte-img2 mobile-only">
      <img src="assets/images/home/elements/element7.png" class="alacarte-el1 desktop-only">
      <img appParallax [ratio]="0.05" src="assets/images/home/alacarte/alacarte3.png"
        class="alacarte-img3 desktop-only">
      <img appParallax [ratio]="0.1" src="assets/images/home/alacarte/alacarte4.png" class="alacarte-img4 desktop-only">
      <img src="assets/images/home/alacarte/alacarte4.png" class="alacarte-img4 mobile-only">
    </div>
  </div>
</app-section>