<app-section id="alacarte">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 alacarte-col1">
      <div>
        <img [@slideInOutLeft]="isIn ? 'in' : 'out'" (appear)="triggerAnimationIn()" (disappear)="triggerAnimationOut()"
          src="assets/images/home/alacarte/alacarte1.png" class="alacarte-img1 desktop-only">
        <img [@slideInOutLeft]="isIn ? 'in' : 'out'" (appear)="triggerAnimationIn()" (disappear)="triggerAnimationOut()"
          src="assets/images/home/alacarte/alacarte2.png" class="alacarte-img2 desktop-only">
        <img [@fadeInOut]="isIn ? 'in' : 'out'" (appear)="triggerAnimationIn()" (disappear)="triggerAnimationOut()"
          src="assets/images/home/alacarte/alacarte1.png" class="alacarte-img1 mobile-only">
        <img [@fadeInOut]="isIn ? 'in' : 'out'" (appear)="triggerAnimationIn()" (disappear)="triggerAnimationOut()"
          src="assets/images/home/alacarte/alacarte2.png" class="alacarte-img2 mobile-only">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 alacarte-col2">
      <div>
        <img src="assets/images/home/elements/element7.png" class="alacarte-el1 desktop-only">
        <img [@slideInOutRight]="isIn ? 'in' : 'out'" (appear)="triggerAnimationIn()"
          (disappear)="triggerAnimationOut()" src="assets/images/home/alacarte/alacarte3.png"
          class="alacarte-img3 desktop-only">
        <img [@slideInOutRight]="isIn ? 'in' : 'out'" (appear)="triggerAnimationIn()"
          (disappear)="triggerAnimationOut()" src="assets/images/home/alacarte/alacarte4.png"
          class="alacarte-img4 desktop-only">
        <img [@fadeInOut]="isIn ? 'in' : 'out'" (appear)="triggerAnimationIn()"
          (disappear)="triggerAnimationOut()" src="assets/images/home/alacarte/alacarte3.png"
          class="alacarte-img3 mobile-only">
        <img [@fadeInOut]="isIn ? 'in' : 'out'" (appear)="triggerAnimationIn()"
          (disappear)="triggerAnimationOut()" src="assets/images/home/alacarte/alacarte4.png"
          class="alacarte-img4 mobile-only">
      </div>
      <div [@fadeInOut]="isIn ? 'in' : 'out'" (appear)="triggerAnimationIn()" (disappear)="triggerAnimationOut()">
        <p class="alacarte-text">{{ 'alacarte.text1' | translate }}</p>
      </div>
    </div>
  </div>

</app-section>
