<app-section id="services">
    <h2>{{ 'services.title' | translate | uppercase }}</h2>

    <div class="service-list">
        <div class="service">
            <div class="service-header">
                <mat-icon svgIcon="service1"></mat-icon>
                <h4>{{ 'services.section1.title' | translate | uppercase }}</h4>
            </div>
            <div class="m-4">
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section1.desc1' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section1.desc2' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section1.desc3' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section1.desc4' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="service-header">
                <mat-icon svgIcon="service2"></mat-icon>
                <h4>{{ 'services.section2.title' | translate | uppercase }}</h4>
            </div>
            <div class="m-4">
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section2.desc1' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section2.desc2' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section2.desc3' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section2.desc4' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="service-header ">
                <mat-icon svgIcon="service3"></mat-icon>
                <h4>{{ 'services.section3.title' | translate | uppercase }}</h4>
            </div>
            <div class="m-4">
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section3.desc1' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section3.desc2' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section3.desc3' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section3.desc4' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="service-header ">
                <mat-icon svgIcon="service4"></mat-icon>
                <h4>{{ 'services.section4.title' | translate | uppercase }}</h4>
            </div>
            <div class="m-4">
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section4.desc1' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section4.desc2' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section4.desc3' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section4.desc4' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="service-header ">
                <mat-icon svgIcon="service5"></mat-icon>
                <h4>{{ 'services.section5.title' | translate | uppercase }}</h4>
            </div>
            <div class="m-4">
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section5.desc1' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section5.desc2' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="service-header ">
                <mat-icon svgIcon="service6"></mat-icon>
                <h4>{{ 'services.section6.title' | translate | uppercase }}</h4>
            </div>
            <div class="m-4">
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section6.desc1' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <mat-icon>circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <span>{{ 'services.section6.desc2' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-section>