<app-section id="our-puppies">
  <h2>{{ 'our-puppies.title' | translate }}</h2>
  <h3>{{ 'our-puppies.subtitle' | translate }}</h3>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="assets/images/our-puppies/our-puppies.png" alt="">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 top-margin">
      <p>{{ 'our-puppies.paragraph1' | translate }}</p>
      <p>{{ 'our-puppies.paragraph2' | translate }}</p>
    </div>
    <div class="col-lg-4 col-sm-12">
    </div>
  </div>
 
</app-section>
