<app-section id="home-lunch-menu">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 lunch-menu-col1">
      <div appParallax [ratio]="0.35" class="desktop-only">
        <p style="width: 95%;" class="lunch-menu-text">{{ 'lunchMenu.text1' | translate }}</p>
        <p style="width: 65%;">{{ 'lunchMenu.text2' | translate }}</p>
      </div>
      <div class="mobile-only">
        <p class="lunch-menu-text">{{ 'lunchMenu.text1' | translate }}</p>
        <p>{{ 'lunchMenu.text2' | translate }}</p>
      </div>
      <div>
        <img appParallax [ratio]="0.3" src="assets/images/home/lunch/lunch-menu1.png"
          class="lunch-menu-img1 desktop-only">
        <img src="assets/images/home/lunch/lunch-menu1.png" class="lunch-menu-img1 mobile-only">
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 lunch-menu-col2">
      <div>
        <img appParallax [ratio]="0.15" src="assets/images/home/lunch/lunch-menu2.png"
          class="lunch-menu-img2 desktop-only">
        <img appParallax [ratio]="0.4" src="assets/images/home/lunch/lunch-menu3.png"
          class="lunch-menu-img3 desktop-only">
        <img src="assets/images/home/lunch/lunch-menu2.png" class="lunch-menu-img2 mobile-only">
        <img src="assets/images/home/lunch/lunch-menu3.png" class="lunch-menu-img3 mobile-only">
        <img src="assets/images/home/elements/element5.png" class="lunch-menu-el1 desktop-only">
        <img src="assets/images/home/elements/element6.png" class="lunch-menu-el2 desktop-only">
      </div>
    </div>
  </div>

</app-section>
