<app-section id="lunch-menu">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 lunch-menu-col1">
            <div>
                <p class="lunch-menu-text">{{ 'lunchMenu.text1' | translate }}</p>
                <p>{{ 'lunchMenu.text2' | translate }}</p>
            </div>
            <div>
                <img src="assets/images/home/lunch/lunch-menu1.png" class="lunch-menu-img1">
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 lunch-menu-col2">
            <div>
                <img src="assets/images/home/lunch/lunch-menu2.png" class="lunch-menu-img2">
                <img src="assets/images/home/lunch/lunch-menu3.png" class="lunch-menu-img3">
            </div>
        </div>
    </div>

</app-section>