<div class="dinner page">
  <img src="assets/images/dinner/element5.png" class="dinner-el5 desktop-only">
  <app-section id="dinner-text">
    <div class="row">
      <div class="col-sm-12 dinner-text">
        <p class="dinner-time">{{ 'dinner.time' | translate }}</p>
        <p>{{ 'dinner.text1' | translate }}</p>
        <p>{{ 'dinner.dash' | translate }}</p>
        <p>{{ 'dinner.text2' | translate }}</p>
      </div>
      <div class="col-sm-12 dinner-btn">
        <button mat-flat-button class="dinner-menu-title" (click)="scroll()">
          <p>{{ 'lunch.menu' | translate }}</p>
        </button>
      </div>
    </div>
  </app-section>
  <app-section id="dinner-pictures">
    <div class="row">
      <div class="col-sm-12">
        <img src="assets/images/dinner/element1.png" class="dinner-el1 desktop-only">
        <img src="assets/images/dinner/element2.png" class="dinner-el2 desktop-only">
        <img appParallax [ratio]="0.3" src="assets/images/dinner/dinner1.png" class="dinner-img1 desktop-only">
        <img appParallax [ratio]="0.4" src="assets/images/dinner/dinner3.png" class="dinner-img3 desktop-only">
        <img appParallax [ratio]="0.4" src="assets/images/dinner/dinner2.png" class="dinner-img2 desktop-only">
        <img appParallax [ratio]="0.3" src="assets/images/dinner/dinner4.png" class="dinner-img4 desktop-only">
        <img src="assets/images/dinner/dinner1.png" class="dinner-img1 mobile-only">
        <img src="assets/images/dinner/dinner3.png" class="dinner-img3 mobile-only">
        <img src="assets/images/dinner/dinner2.png" class="dinner-img2 mobile-only">
        <img src="assets/images/dinner/dinner4.png" class="dinner-img4 mobile-only">
      </div>
    </div>
  </app-section>
  <app-section id="dinner-menu">
    <div class="row">
      <div class="col-sm-12">
        <img src="assets/images/dinner/element3.png" class="dinner-el3 desktop-only">
        <img src="assets/images/dinner/element6.png" class="dinner-el6 big-desktop-only">
        <img src="assets/images/menu/ala.jpg" class="lunch-menu">

      </div>
    </div>
  </app-section>
</div>
