<app-section id="offering">
  <h2> {{ 'offering.title' | translate | uppercase }}</h2>

  <div class="row offering-container">
    <div class="offering-item">
      <div class="row">
        <mat-icon svgIcon="air-conditioner"></mat-icon>
      </div>
      <div class="row">
        <h3>{{ 'offering.air-conditioner' | translate | uppercase }}</h3>
      </div>
      <div class="row">
        <button mat-flat-button class="button" (click)="openPage('klimatizacia')">
          <span>{{'offering.more' | translate | uppercase}}</span>
        </button>
      </div>
    </div>
    <div class="offering-item">
      <div class="row">
        <mat-icon svgIcon="heat-pump"></mat-icon>
      </div>
      <div class="row">
        <h3>{{ 'offering.heat-pump' | translate | uppercase }}</h3>
      </div>
      <div class="row">
        <button mat-flat-button class="button" (click)="openPage('tepelne-cerpadlo')">
          <span>{{'offering.more' | translate | uppercase}}</span>
        </button>
      </div>
    </div>
    <div class="offering-item">
      <div class="row">
        <mat-icon svgIcon="recovery"></mat-icon>
      </div>
      <div class="row">
        <h3>{{ 'offering.recovery' | translate | uppercase }}</h3>
      </div>
      <div class="row">
        <button mat-flat-button class="button" (click)="openPage('rekuperacia')">
          <span>{{'offering.more' | translate | uppercase}}</span>
        </button>
      </div>
    </div>
  </div>

</app-section>
