<nav class="navbar navbar-expand-custom navbar-top navbar-fixed navbar-opaque">
  <div class="container">
    <div class="navbar-toggler toggler nav-text-color" type="button" data-toggle="collapse" data-target="#primary-menu"
      aria-controls="primary-menu" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()" id="navbar-toggler"
      [ngClass]="{close: toClose}">
      <span></span>
    </div>
    <a class="navbar-brand">
      <img class="navbar-brand-img" src="assets/images/logo.png">
    </a>
    <div class="collapse navbar-collapse" id="primary-menu">
      <ul class="nav navbar-nav ms-auto nav-no-opacity">
        <app-navigation-item title="header"></app-navigation-item>
        <app-navigation-item title="about-us"></app-navigation-item>
        <app-navigation-item title="offering"></app-navigation-item>
        <app-navigation-item title="why"></app-navigation-item>
        <app-navigation-item title="contact"></app-navigation-item>
      </ul>
    </div>
  </div>
</nav>
