@use "@angular/material" as mat;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat.core();

@import "variables";
@import "styles/contact.scss";
@import "styles/footer.scss";
@import "styles/header.scss";
@import "styles/about-us.scss";
@import "styles/about-dobermanns.scss";
@import "styles/navigation.scss";
@import "styles/activities.scss";
@import "styles/sub-pages.scss";
@import "styles/services.scss";
@import "styles/why-dobermann.scss";
@import "styles/our-dog.scss";
@import "styles/our-puppies.scss";

body {
  background-color: var(--terciary);
}

.container {
  max-width: 1200px;
}

.section {
  text-align: center;
  padding: 2% 0;
}

.row {
  margin: 0;
}

img {
  border-radius: 5px;
  max-width: 100%;
}

.bold {
  font-weight: 600;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

// TEXTS

h1 {
  font-size: 27px;
  color: var(--primary);
  font-family: var(--font-family-title);
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-align: left;
}

h2 {
  font-size: 35px;
  font-family: var(--font-family-subtitle);
  text-align: center;
  position: relative;
  color: var(--primary-shade);
  margin-bottom: 2rem;
}

h3 {
  text-align: center;
  font-family: var(--font-family-title);
  color: var(--primary);
  font-size: 18px;
  position: relative;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

p,
span {
  color: var(--text);
  text-align: justify;
  font-size: 16px;
  font-family: var(--font-family-title);
}

// BUTTONS

.section .mat-flat-button {
  background-color: var(--secondary);
  border-radius: 45px;
  padding: 4px 32px;
  box-shadow: var(--box-shadow);

  span {
    color: var(--primary);
    text-transform: uppercase;
    font-family: var(--font-family-title);
  }
}

.section .mat-flat-button:hover {
  background-color: var(--background) !important;

  span {
    color: var(--secondary) !important;
  }
}

.scrollToTop.mat-mini-fab {
  position: fixed;
  background-color: var(--secondary);
  top: auto;
  left: auto;
  right: 30px;
  bottom: 30px;
  box-shadow: none;
  z-index: 10;
  box-shadow: var(--box-shadow);

  .mat-icon {
    transform: rotate(90deg) !important;
    margin-bottom: -7px;
  }

  .mat-button-wrapper {
    color: var(--primary);
  }
}

.scrollToTop.mat-mini-fab:hover {
  background-color: var(--background);
  .mat-button-wrapper {
    color: var(--secondary);
  }
}

button:focus {
  outline: 0px;
}

// COOKIES

.cc-revoke.cc-bottom {
  color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

.cookie-button-allow {
  line-height: 1.5 !important;
  padding: 10px 30px !important;
  color: var(--primary) !important;
  border-radius: 10px !important;
  background-color: var(--secondary) !important;
  margin: 5px !important;
  border: 1px solid var(--primary) !important;
}

.cookie-button-deny {
  line-height: 1.5 !important;
  padding: 10px 30px !important;
  background-color: var(--primary) !important;
  border-radius: 10px !important;
  margin: 5px !important;
  color: var(--secondary) !important;
}

.cc-animate.cc-revoke.cc-bottom {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.cc-theme-edgeless.cc-window {
  border-top: 1px solid var(--secondary);
}

.cc-message {
  color: var(--primary);
}

// SCROLL BAR

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow-y: scroll;
  background: var(--primary);
  box-shadow: inset 0 0 4px var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 12px;
  border: 1px solid var(--primary);
}


@media only screen and (max-width: $tablet-resolution) {
  .container {
    max-width: 720px !important;
    padding: 0;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  .section {
    padding: 1rem 2rem;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none !important;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 30px;
  }

  p,
  span {
    font-size: 16px;
  }

  .cc-window.cc-banner {
    align-items: center !important;
    flex-direction: column !important;
  }

  .cc-banner.cc-theme-edgeless .cc-message {
    margin: 1em;
  }

  .cc-revoke.cc-bottom {
    display: none;
  }

  .column-reverse-mobile {
    flex-direction: column-reverse;
  }

  .col-md-4 .col-md-6, .col-sm-12 {
    padding: 0;
  }
}
