@use "@angular/material" as mat;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat.core();

@import "variables";
@import "styles/contact.scss";
@import "styles/footer.scss";
@import "styles/header.scss";
@import "styles/about-us.scss";
@import "styles/projects.scss";
@import "styles/navigation.scss";
@import "styles/top-contact.scss";
@import "styles/sub-pages.scss";

body {
  background-color: var(--background);
}

.container {
  max-width: 1200px;
}

.section {
  text-align: center;
  padding: 4% 0;
}

.divider-box {
  text-align: center;
}

.divider {
  height: 50px;
  margin-top: 7%;
  margin-bottom: 7%;
}

h1 {
  font-size: 3.6em;
  color: var(--secondary);
  font-family: var(--font-family-title);
  font-weight: bold;
  line-height: 52px;
  margin: 0;
}

h2 {
  font-size: 3em;
  margin-bottom: 50px;
  font-family: var(--font-family-title);
  text-align: center;
  position: relative;
  color: var(--secondary);

  &::after {
    content: "";
    display: block;
    left: 25%;
    width: 50%;
    position: absolute;
    height: 1px;
    background-color: var(--secondary);
  }
}

h3 {
  text-align: center;
  font-family: var(--font-family-title);
  color: var(--secondary);
  font-size: 1.3em;
  margin: 4%;
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 10px;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

p,
span {
  color: var(--secondary);
  text-align: left;
  font-size: 16px;
  font-family: var(--font-family-default);
}

b {
  font-weight: bold;
}

img {
  border-radius: 20px;
  filter: brightness(0.7);
}

.mt {
  margin-top: 5%;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

.flex {
  display: flex;
}

.cc-revoke.cc-bottom {
  color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

.mat-raised-button {
  line-height: 1.5 !important;
  padding: 10px 30px !important;
  color: var(--secondary);
  font-weight: 600;
  border-radius: 35px !important;
}

.cookie-button-allow {
  line-height: 1.5 !important;
  padding: 10px 30px !important;
  color: var(--text) !important;
  border-radius: 10px !important;
  background-color: var(--secondary) !important;
  margin: 5px !important;
}

.cookie-button-deny {
  line-height: 1.5 !important;
  padding: 10px 30px !important;
  background-color: var(--primary) !important;
  border-radius: 10px !important;
  margin: 5px !important;
  color: var(--text) !important;
}

.cc-animate.cc-revoke.cc-bottom {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.cc-theme-edgeless.cc-window {
  border-top: 1px solid var(--secondary-text);
}

button:focus {
  outline: 0px;
}

.scrollToTop.mat-mini-fab {
  position: fixed;
  background-color: var(--secondary);
  top: auto;
  left: auto;
  right: 30px;
  bottom: 30px;
  box-shadow: none;
  z-index: 10;

  .mat-icon {
    transform: rotate(90deg);
    margin-bottom: -7px;
  }

  .mat-button-wrapper {
    color: var(--primary);
  }
}

.bold {
  font-weight: bold;
}

.scrollToTop.mat-mini-fab:hover {
  background-color: var(--text);
  .mat-button-wrapper {
    color: var(--primary);
  }
}

.row {
  margin: 0;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow-y: scroll;
  background: var(--primary);
  box-shadow: inset 0 0 4px var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 12px;
  border: 1px solid var(--primary);
}

.cc-message {
  color: var(--primary);
}

.align-end {
  align-items: flex-end;
}

@media only screen and (max-width: $tablet-resolution) {
  .container {
    max-width: 720px !important;
    padding: 0;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  .section {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none !important;
  }

  p,
  span {
    font-size: 16px;
  }

  .divider {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .cc-window.cc-banner {
    align-items: center !important;
    flex-direction: column !important;
  }

  .cc-banner.cc-theme-edgeless .cc-message {
    margin: 1em;
  }

  .cc-revoke.cc-bottom {
    display: none;
  }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
  }
}
