$primary: #604940;
$background: #2E2620;
$secondary: #E5D4BF;
$text: #0D0D0D;
$mobile-resolution: 769px;
$tablet-resolution: 960px;
$font-family-default: 'Hind Madurai', sans-serif;
$font-family-title: 'Cormorant Garamond', serif;

:root {
    --primary: #{$primary};
    --background: #{$background};
    --secondary: #{$secondary};
    --text: #{$text};
    --font-family-title: #{$font-family-title};
    --font-family-default: #{$font-family-default};
}
