$primary: #604940;
$background: #2E2620;
$secondary: #E5D4BF;
$text: #0D0D0D;
$small-mobile-resolution: 576px;
$mobile-resolution: 769px;
$tablet-resolution: 960px;
$font-family-default: 'Hind Madurai', sans-serif;
$font-family-title: 'Cormorant', serif;
$box-shadow: rgb(46 38 32 / 40%) 0px 2px 4px, rgb(46 38 32 / 30%) 0px 7px 13px -3px, rgb(46 38 32 / 20%) 0px -3px 0px inset;

:root {
    --primary: #{$primary};
    --background: #{$background};
    --secondary: #{$secondary};
    --text: #{$text};
    --font-family-title: #{$font-family-title};
    --font-family-default: #{$font-family-default};
    --box-shadow: #{$box-shadow};
}
