<app-section id="sub-page">
  <h2> {{ 'air-conditioner.title1' | translate | uppercase }}</h2>
  <ul class="item-desc">
    <li>{{ 'air-conditioner.section1.desc1' | translate }}</li>
    <li>{{ 'air-conditioner.section1.desc2' | translate }}</li>
    <li>{{ 'air-conditioner.section1.desc3' | translate }}</li>
  </ul>

  <h2> {{ 'air-conditioner.title2' | translate | uppercase }}</h2>
  <ul class="item-desc">
    <li>{{ 'air-conditioner.section2.desc1' | translate }}</li>
    <li>{{ 'air-conditioner.section2.desc2' | translate }}</li>
  </ul>

  <h2> {{ 'air-conditioner.title3' | translate | uppercase }}</h2>
  <ul class="item-desc">
    <li>{{ 'air-conditioner.section3.desc1' | translate }}</li>
    <li>{{ 'air-conditioner.section3.desc2' | translate }}</li>
    <li>{{ 'air-conditioner.section3.desc3' | translate }}</li>
  </ul>
</app-section>
