<app-section id="breakfast">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 breakfast-col1">
            <div>
                <img src="assets/images/home/breakfast/breakfast1.png" class="breafast-img1">
                <img src="assets/images/home/breakfast/breakfast2.png" class="breafast-img2">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 breakfast-col2">
            <div>
                <img src="assets/images/home/breakfast/breakfast3.png" class="breakfast-img3">
                <img src="assets/images/home/elements/element4.png" class="breafast-el1 desktop-only">
            </div>
            <div>
                <p>{{ 'breakfast.text1' | translate }}</p>
                <p>{{ 'breakfast.text2' | translate }}</p>
            </div>
        </div>
    </div>

</app-section>