<app-section id="breakfast">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 breakfast-col1">
      <div>
        <img appParallax [ratio]="0.3" src="assets/images/home/breakfast/breakfast1.png"
          class="breafast-img1 desktop-only">
        <img appParallax [ratio]="0.3" src="assets/images/home/breakfast/breakfast2.png"
          class="breafast-img2 desktop-only">
        <img src="assets/images/home/breakfast/breakfast1.png" class="breafast-img1 mobile-only">
        <img src="assets/images/home/breakfast/breakfast2.png" class="breafast-img2 mobile-only">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 breakfast-col2">
      <div>
        <img appParallax [ratio]="0.3" src="assets/images/home/breakfast/breakfast3.png"
          class="breakfast-img3 desktop-only">
        <img src="assets/images/home/breakfast/breakfast3.png" class="breakfast-img3 mobile-only">
        <img appParallax [ratio]="0.3" src="assets/images/home/elements/element4.png" class="breafast-el1 desktop-only">
      </div>
      <div appParallax [ratio]="0.2" class="breakfast-text desktop-only">
        <p>{{ 'breakfast.text1' | translate }}</p>
        <p>{{ 'breakfast.text2' | translate }}</p>
      </div>
      <div class="breakfast-text mobile-only">
        <p>{{ 'breakfast.text1' | translate }}</p>
        <p>{{ 'breakfast.text2' | translate }}</p>
      </div>
    </div>
  </div>

</app-section>
