<app-section id="deal">
  <h2> {{ 'deal.title' | translate | uppercase }}</h2>

  <div class="row deal-container">
    <div class="deal-item">
      <div class="row">
        <img style="width:80%" src="assets/images/logo.png">
      </div>
      <div class="row">
        <h3>{{ 'deal.product1' | translate | uppercase }}</h3>
        <h4>3.5KW</h4>
        <div class="price-row">
          <div class="col-md-6">
            {{ 'deal.assembly' | translate}}
          </div>
          <div class="col-md-6">
            <p class="price">2066 €</p>
          </div>
        </div>
        <button class="btn btn-primary">{{ 'deal.order' | translate | uppercase }}</button>
      </div>
    </div>
    <div class="deal-item">
      <div class="row">
        <img style="width:80%" src="assets/images/logo.png">
      </div>
      <div class="row">
        <h3>{{ 'deal.product2' | translate | uppercase }}</h3>
        <h4>3.5KW</h4>
        <div class="price-row">
          <div class="col-md-6">
            {{ 'deal.assembly' | translate}}
          </div>
          <div class="col-md-6">
            <p class="price">2066 €</p>
          </div>
        </div>
        <button class="btn btn-primary">{{ 'deal.order' | translate | uppercase }}</button>
      </div>
    </div>
    <div class="deal-item">
      <div class="row">
        <img style="width:80%" src="assets/images/logo.png">
      </div>
      <div class="row">
        <h3>{{ 'deal.product3' | translate | uppercase }}</h3>
        <h4>3.5KW</h4>
        <div class="price-row">
          <div class="col-md-6">
            {{ 'deal.assembly' | translate}}
          </div>
          <div class="col-md-6">
            <p class="price">2066 €</p>
          </div>
        </div>
        <button class="btn btn-primary">{{ 'deal.order' | translate | uppercase }}</button>
      </div>
    </div>
  </div>
</app-section>
