<div class="row top-contact-row">
  <div class="container flex wrap">
  <div class="col-lg-3 col-md-6 col-sm-12 top-contact-item">
    <div class="row">
      <div class="col-md-2 col-sm-2 top-contact-icon">
        <mat-icon class="icon-display">room</mat-icon>
      </div>
      <div class="col-md-10 col-sm-10 top-contact-text">
        <div>{{ 'topContact.address1' | translate }}</div>
        <div>{{ 'topContact.address2' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12 top-contact-item">
    <div class="row">
      <div class="col-md-4 col-sm-2 top-contact-icon">
        <mat-icon class="icon-display">mail_outline</mat-icon>
      </div>
      <div class="col-md-8 col-sm-10 top-contact-text">
        <div>{{ 'topContact.email' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 top-contact-item desktop-only tablet-phone-number">
    <div class="row">
      <div class="col-md-4 col-sm-2 top-contact-icon">
        <mat-icon class="icon-display">phone</mat-icon>
      </div>
      <div class="col-md-8 col-sm-10 top-contact-text">
        <div>{{ 'topContact.tel' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 top-contact-item desktop-only">
    <div class="row">
      <div class="col-md-4 col-sm-2 top-contact-icon">
        <mat-icon class="icon-display">access_time</mat-icon>
      </div>
      <div class="col-md-8 col-sm-10 top-contact-text">
        <div>{{ 'topContact.hours' | translate }}</div>
      </div>
    </div>
  </div>
</div>
</div>

<button mat-mini-fab class="goBack" *ngIf="href != '/'" (click)="goBack()">
  <mat-icon>arrow_back_ios</mat-icon>
</button>
