<div class="row top-contact-row">
  <div class="col-lg-3 top-contact-item">
    <div class="row">
      <div class="col-lg-4 top-contact-icon">
        <mat-icon class="icon-display">room</mat-icon>
      </div>
      <div class="col-lg-8 top-contact-text">
        <div>{{ 'top-contact.address1' | translate }}</div>
        <div>{{ 'top-contact.address2' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 top-contact-item">
    <div class="row">
      <div class="col-lg-4 top-contact-icon">
        <mat-icon class="icon-display">mail_outline</mat-icon>
      </div>
      <div class="col-lg-8 top-contact-text">
        <div>{{ 'top-contact.email' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 top-contact-item">
    <div class="row">
      <div class="col-lg-4 top-contact-icon">
        <mat-icon class="icon-display">phone</mat-icon>
      </div>
      <div class="col-lg-8 top-contact-text">
        <div>{{ 'top-contact.tel' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 top-contact-item">
    <div class="row">
      <div class="col-lg-4 top-contact-icon">
        <mat-icon class="icon-display">access_time</mat-icon>
      </div>
      <div class="col-lg-8 top-contact-text">
        <div>{{ 'top-contact.hours' | translate }}</div>
      </div>
    </div>
  </div>
</div>
